---
swagger: '2.0'
info:
  title: Turnierserver
  description: Turnierserver API
  version: "494212a9f0"
host: turnierserver.informatik-olympiade.de
tags:
- name: "KI"
  description: "Zeugs mit KIs"
- name: "Nutzer"
  description: "Zeugs mit Nutzern"
- name: "Auth"
  description: "Dinge, für die man eingeloggt sein muss"
- name: "Admin"
  description: "Dinge, die Admin-Zugang brauchen"
schemes:
# - https
  - http
basePath: /api
produces:
  - application/json
paths:
  /ping:
    get:
      summary: Ping
      responses:
        200:
          description: Pong

  /ais:
    get:
      tags:
      - KI
      summary: KIs
      responses:
        200:
          description: Eine Liste mit AIs des aktuellen Spieltyps
          schema:
            type: array
            items:
              $ref: '#/definitions/ai'

  /ais/{gametype}:
    get:
      tags:
      - KI
      summary: KIs des Spieltyps {gametype}.
      responses:
        200:
          description: Eine Liste mit AIs des angegebenen Spieltyps
          schema:
            type: array
            items:
              $ref: '#/definitions/ai'
      parameters:
        - name: gametype
          in: path
          description: Spieltyp-ID
          required: true
          type: number
          format: int

  /ai/{id}:
    get:
      tags:
      - KI
      summary: KI mit ID {id}.
      responses:
        200:
          description: Die KI mit der ID.
          schema:
            $ref: '#/definitions/ai'
        404:
          description: Die KI wurde nicht gefunden.
      parameters:
        - name: id
          in: path
          description: ID
          required: true
          type: number
          format: int

  /ai/{id}/games:
    get:
      tags:
      - KI
      summary: Spiele von der KI.
      responses:
        200:
          description: Spiele von der KI mit id {id}
          schema:
            type: array
            items:
              $ref: '#/definitions/ai'
        404:
          description: Die KI wurde nicht gefunden.
      parameters:
        - name: id
          in: path
          description: ID
          required: true
          type: number
          format: int

  /games:
    get:
      summary: Spiele
      responses:
        200:
          description: Eine Liste mit Spielen des aktuellen Spieltyps
          schema:
            type: array
            items:
              $ref: '#/definitions/game'

  /games/{gametype}:
    get:
      summary: KIs des Spieltyps {gametype}.
      responses:
        200:
          description: Eine Liste mit Spielen des angegebenen Spieltyps
          schema:
            type: array
            items:
              $ref: '#/definitions/game'
      parameters:
        - name: gametype
          in: path
          description: Spieltyp-ID
          required: true
          type: number
          format: int

  /game/{id}:
    get:
      summary: Spiel mit ID {id}.
      responses:
        200:
          description: Spiel mit ID {id}.
          schema:
            $ref: '#/definitions/game'
        404:
          description: Das Spiel wurde nicht gefunden.
      parameters:
        - name: id
          in: path
          description: ID
          required: true
          type: number
          format: int

  /game/{id}/log:
    get:
      summary: Log des Spiels.
      responses:
        200:
          description: Log des Spiels als SSE-Stream.
        404:
          description: Das Spiel wurde nicht gefunden.
      parameters:
        - name: id
          in: path
          description: ID
          required: true
          type: number
          format: int

  /users:
    get:
      tags:
      - Nutzer
      summary: Nutzer
      responses:
        200:
          description: Eine Liste von allen Nutzern
          schema:
            type: array
            items:
              $ref: '#/definitions/user'

  /user/{id}:
    get:
      tags:
      - Nutzer
      summary: Nutzer mit ID {id}.
      responses:
        200:
          description: Nutzer mit ID {id}.
          schema:
            $ref: '#/definitions/user'
        404:
          description: Nutzer wurde nicht gefunden.
      parameters:
        - name: id
          in: path
          description: ID
          required: true
          type: number
          format: int

  /user/{id}/update:
    post:
      tags:
      - Nutzer
      - Auth
      summary: Bearbeitet Nutzer.
      consumes:
        - "application/json"
      parameters:
      - name: id
        in: path
        description: ID
        required: true
        type: number
        format: int
      - name: body
        in: body
        required: true
        description: "Infos über den Nutzer, die geändert werden sollen. (alle optional)"
        schema:
          properties:
            firstname:
              type: string
              description: Vorname des Nutzers
            lastname:
              type: string
              description: Nachname des Nutzers
            email:
              type: string
              format: email
              description: Email des Nutzers
            name_public:
              type: boolean
              description: Ob Nach- und Vorname öffentlich sein sollen.
            password:
              type: string
              format: password
              description: Das Passwort des Nutzers
      responses:
        200:
          description: Die neuen Daten
          schema:
            properties:
              error:
                type: boolean
              user:
                $ref: '#/definitions/user'
#      security:
#        - Cookie-Auth:
#          - "logged_in"

  /user/{id}/delete:
    post:
      tags:
      - Nutzer
      - Auth
      summary: "Löscht einen Nutzer"
      parameters:
      - name: id
        in: path
        description: ID
        required: true
        type: number
        format: int
      responses:
        200:
          description: Ok

  /langs:
    get:
      summary: Sprachen
      responses:
        200:
          description: Eine Liste mit allen Sprachen
          schema:
            type: array
            items:
              $ref: '#/definitions/lang'

  /gametypes:
    get:
      summary: Spieltypen
      responses:
        200:
          description: Eine Liste mit allen Spieltypen
          schema:
            type: array
            items:
              $ref: '#/definitions/gametype'

  /activate/{id}/{uuid}:
    post:
      tags:
      - Nutzer
      summary: Aktiviert einen Account
      parameters:
      - name: id
        in: path
        description: ID
        required: true
        type: number
        format: int
      - name: uuid
        in: path
        description: Aktivierungstoken
        required: true
        type: string
        format: uuid4
      responses:
        302:
          description: Redirect zu "/"

  /login:
    post:
      summary: Loggt einen Nutzer ein
      responses:
        200:
          description: Ok
      parameters:
      - name: body
        in: body
        required: true
        description: Passwort und Email des Nutzers.
        schema:
          properties:
            firstname:
              type: string
              format: email
              description: Email des Nutzers
            password:
              type: string
              format: password
              description: Passwort des Nutzers
            remember:
              type: boolean
              description: Ob der Cookie länger halten soll (optional)

  /logout:
    post:
      summary: Loggt einen Nutzer aus.
      responses:
        200:
          description: Ok

  /loggedin:
    get:
      tags:
      - Auth
      summary: Gibt die Infos des aktuellen Nutzers zurück (falls eingeloggt).
      responses:
        200:
          description: Die Infos des eingeloggten Nutzers
          schema:
            $ref: '#/definitions/user'
    post:
      summary: Gibt die Infos des aktuellen Nutzers zurück (falls eingeloggt).
      responses:
        200:
          description: Die Infos des eingeloggten Nutzers
          schema:
            $ref: '#/definitions/user'

  /user/create:
    post:
      tags:
      - Nutzer
      summary: Erstellt einen neuen Nutzer
      consumes:
      - "application/json"
      - "application/x-www-form-urlencoded"
      parameters:
      - name: body
        in: body
        required: true
        description: Infos über den Nutzer, die geändert werden sollen.
        schema:
          properties:
            username:
              type: string
              description: Nutername des Nutzers (kann dannach nicht mehr geändert werden)
            firstname:
              type: string
              description: Vorname des Nutzers
            lastname:
              type: string
              description: Nachname des Nutzers
            email:
              type: string
              format: email
              description: Email des Nutzers
            password:
              type: string
              format: password
              description: Das Passwort des Nutzers (min 3 Zeichen)
      responses:
        200:
          description: Die Infos des neuen Nutzers.

  /ai/create:
    post:
      tags:
      - KI
      - Auth
      summary: Erstellt eine KI
      consumes:
      - "application/json"
      - "application/x-www-form-urlencoded"
      parameters:
      - name: lang
        in: query
        description: Sprache der KI
        type: number
        format: int
        required: true
      - name: name
        in: query
        type: string
        description: Name der neuen KI
        required: false
      - name: type
        in: query
        description: Spieltyp der KI
        type: number
        format: int
        required: false

      responses:
        200:
          description: Die Infos des neuen Nutzers.

  /ai/{id}/icon:
    get:
      tags:
      - KI
      summary: Liefert das Icon einer KI
      parameters:
      - name: id
        in: path
        description: ID der KI
        type: number
        format: int
        required: true
      responses:
        200:
          description: Das Bild der KI
        404:
          description: KI wurde nicht gefunden.

  /ai/{id}/upload_icon:
    post:
      tags:
      - KI
      - Auth
      summary: Lädt ein Icon für KI {id} hoch.
      parameters:
      - name: id
        in: path
        description: ID der KI
        type: number
        format: int
        required: true
      - name: body
        in: body
        description: Das neue Bild (im POST-Body)
        required: true
        schema:
          properties:
            data:
              type: string
              format: binary

      responses:
        200:
          description: Ok
        404:
          description: KI wurde nicht gefunden.

  /ai/{id}/reset_icon:
    post:
      tags:
      - KI
      - Auth
      summary: Setzt das Icon der KI auf den Standart zurück.
      parameters:
      - name: id
        in: path
        description: ID der KI
        type: number
        format: int
        required: true
      responses:
        200:
          description: Ok
        404:
          description: KI wurde nicht gefunden.


  /ai/{id}/update:
    post:
      tags:
      - KI
      - Auth
      summary: Bearbeitet KI.
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: id
        in: path
        description: ID
        required: true
        type: number
        format: int
      - name: body
        in: body
        required: true
        description: "Infos über die KI, die geändert werden sollen. (alle optional)"
        schema:
          properties:
            name:
              type: string
              description: Name der KI
            description:
              type: string
              description: Beschreibung der KI
      responses:
        200:
          description: Die neuen Daten
          schema:
              $ref: '#/definitions/ai'

  /ai/{id}/copy_example_code:
    post:
      tags:
      - KI
      - Auth
      summary: Kopiert Simple-Player.
      parameters:
      - name: id
        in: path
        description: ID
        required: true
        type: number
        format: int
      responses:
        200:
          description: Ok

  /ai/{id}/delete:
    post:
      tags:
      - KI
      - Auth
      summary: Löscht KI.
      parameters:
      - name: id
        in: path
        description: ID
        required: true
        type: number
        format: int
      responses:
        200:
          description: Ok

  /ai/{id}/compile:
    get:
      tags:
      - KI
      - Auth
      summary: SSE-Stream vom kompilieren.
      parameters:
      - name: id
        in: path
        description: ID
        required: true
        type: number
        format: int
      responses:
        200:
          description: SSE-Stream vom kompilieren.

  /ai/{id}/compile_blocking:
    get:
      tags:
      - KI
      - Auth
      summary: Kompilierungslog im JSON Format.
      parameters:
      - name: id
        in: path
        description: ID
        required: true
        type: number
        format: int
      responses:
        200:
          description: Kompilierungslog im JSON Format.

  /ai/{id}/qualify:
    get:
      tags:
      - KI
      - Auth
      summary: SSE-Stream vom Qualifizieren.
      parameters:
      - name: id
        in: path
        description: ID
        required: true
        type: number
        format: int
      responses:
        200:
          description: SSE-Stream vom Qualifizieren.

  /ai/{id}/freeze:
    post:
      tags:
      - KI
      - Auth
      summary: Gibt aktuellste Version frei.
      parameters:
      - name: id
        in: path
        description: ID
        required: true
        type: number
        format: int
      responses:
        200:
          description: Ok

  /ai/{id}/new_version:
    post:
      tags:
      - KI
      summary: Erstellt neue Version.
      parameters:
      - name: id
        in: path
        description: ID
        required: true
        type: number
        format: int
      responses:
        200:
          description: Ok

  /ai/{id}/new_version_from_zip:
    post:
      tags:
      - KI
      - Auth
      summary: Erstellt neue Version von einem ZIP.
      parameters:
      - name: id
        in: path
        description: ID
        required: true
        type: number
        format: int
      - name: body
        in: body
        description: Das ZIP (im POST-Body)
        required: true
        schema:
          properties:
            data:
              type: string
              format: binary
      responses:
        200:
          description: Ok

  /ai/{id}/upload:
    post:
      tags:
      - KI
      - Auth
      summary: Lädt eine Datei zur KI hoch.
      parameters:
      - name: id
        in: path
        description: ID
        required: true
        type: number
        format: int
      - name: body
        in: body
        required: true
        schema:
          properties:
            path:
              type: string
            filename:
              type: string
            data:
              type: string
              format: binary
      responses:
        200:
          description: Ok

  /ai/{id}/delete_file:
    post:
      tags:
      - KI
      - Auth
      summary: Löscht eine Datei der KI.
      parameters:
      - name: id
        in: path
        description: ID
        required: true
        type: number
        format: int
      - name: body
        in: body
        required: true
        schema:
          properties:
            path:
              type: string
            filename:
              type: string
      responses:
        200:
          description: Ok

  /ai/{id}/create_folder:
    post:
      tags:
      - KI
      - Auth
      summary: Erstellt einen Ordner.
      parameters:
      - name: id
        in: path
        description: ID
        required: true
        type: number
        format: int
      - name: body
        in: body
        required: true
        schema:
          properties:
            path:
              type: string
            filename:
              type: string
      responses:
        200:
          description: Ok

  /games/start:
    post:
      tags:
      - Auth
      summary: Startet ein Spiel
      parameters:
      - name: body
        in: body
        required: true
        schema:
          properties:
            ai[]:
              type: array
              items:
                type: number
                format: int
                description: ID der KI
      responses:
        200:
          description: Ok

  /admin/ftp_sync:
    get:
      tags:
      - Admin
      summary: Löst einen FTP-Sync aus.
      responses:
        200:
          description: Ok

  /upload_game_libs/{id}/{lang}:
    post:
      tags:
      - Admin
      summary: Lädt Spiellibraries hoch.
      parameters:
      - name: id
        in: path
        description: ID des Spiels
        type: number
        format: int
        required: true
      - name: lang
        in: path
        description: Sprache
        type: string
        required: true
      responses:
        200:
          description: Ok

  /upload_game_logic/{id}:
    post:
      tags:
      - Admin
      summary: Lädt Spiellogik hoch.
      parameters:
      - name: id
        in: path
        description: ID des Spiels
        type: number
        format: int
        required: true
      responses:
        200:
          description: Ok

  /gamelogic/{id}:
    get:
      summary: Liefert Spiellogik.
      parameters:
      - name: id
        in: path
        description: ID des Spiels
        type: number
        format: int
        required: true
      responses:
        200:
          description: Gamelogic (als .jar)

  /lib/{lang}/{name}/{version}:
    get:
      tags:
      - Admin
      summary: Lädt Library runter.
      parameters:
      - name: lang
        in: path
        description: Sprache der Lib
        type: string
        required: true
      - name: name
        in: path
        description: Name der Lib
        type: string
        required: true
      - name: version
        in: path
        description: Version der lib
        type: number
        format: int
        required: true
      responses:
        200:
          description: Lib (als .zip)

  /data_container/{game_id}:
    get:
      summary: Liefert Codr-Datenconatiner
      parameters:
      - name: game_id
        in: path
        description: ID des Spieltyps
        type: number
        format: int
        required: true
      responses:
        200:
          description: Codr-Datencontainer (als .zip)

  /make_data_container/{game_id}:
    post:
      tags:
      - Admin
      summary: Erstellt Codr-Datencontainer
      parameters:
      - name: game_id
        in: path
        description: ID des Spieltyps
        type: number
        format: int
        required: true
      responses:
        200:
          description: Ok

  /add_gametype/{name}:
    post:
      tags:
      - Admin
      summary: Erstellt Spieltyp
      parameters:
      - name: name
        in: path
        description: Name des neuen Spieltyps
        type: string
        required: true
      responses:
        200:
          description: Infos über den neuen Spieltyp
          schema:
            $ref: '#/definitions/gametype'

  /upload_codr:
    post:
      tags:
      - Admin
      summary: Lädt Codr.jar hoch.
      parameters:
      - name: body
        in: body
        description: Die .jar (im POST-Body)
        required: true
        schema:
          properties:
            data:
              type: string
              format: binary
      responses:
        200:
          description: Ok

  /download_codr:
    get:
      summary: Liefert Codr.jar
      responses:
        200:
          description: Die codr.jar

  /upload_simple_player/{game_id}/{lang}:
    post:
      tags:
      - Admin
      summary: Lädt Simple-Player hoch.
      parameters:
      - name: game_id
        in: path
        description: GameID
        type: number
        format: int
        required: true
      - name: lang
        in: path
        description: Sprache
        type: string
        required: true
      - name: file
        in: formData
        required: true
        paramType: body
        dataType: file
        allowMultiple: false
        description: Die Daten im ZIP-Format
      responses:
        200:
          description: Ok


definitions:
  ai:
    properties:
      name:
        type: string
        description: Name der KI.
      author:
        type: string
        description: Name des Authors
      author_id:
        type: number
        format: int
        description: ID des Authors
      description:
        type: string
        description: Beschreibung der KI
      lang:
        $ref: '#/definitions/lang'
      gametype:
        $ref: '#/definitions/gametype'
      version:
        type: array
        items:
          $ref: '#/definitions/ai_version'
      id:
        type: number
        format: int
        description: ID der KI
  ai_version:
    properties:
      id:
        type: number
        format: int
        description: Versionsnummer
      compiled:
        type: boolean
        description: Ob die Version kompiliert ist
      qualified:
        type: boolean
        description: Ob die Version qualifiziert ist
      frozen:
        type: boolean
        description: Ob die Version eingefroren wurde
  user:
    properties:
      id:
        type: number
        format: int
        description: ID des Benutzers.
      ais:
        type: array
        description: KIs des Benutzers (Ohne Author-Feld).
        items:
          $ref: '#/definitions/ai'
      name:
        type: string
        description: Name des Nutzers.
  lang:
    properties:
      id:
        type: number
        format: int
        description: ID der Sprache
      name:
        type: string
        description: Name der Sprache
      url:
        type: string
        description: Website der Sprache
  gametype:
    properties:
      id:
        type: number
        format: int
        description: ID des Spieltyps
      name:
        type: string
        description: Name des Spieltyps
      last_modified:
        type: number
        format: timestamp
        description: letzte Änderung an dem Datencontainer des Spieltyps
  game:
    properties:
      id:
        type: number
        format: int
        description: ID des Spiels
      ais:
        type: array
        items:
          $ref: '#/definitions/ai'
      type:
        $ref: '#/definitions/gametype'
      scores:
        type: object
        description: Dict mit ID:score
      moves:
        type: number
        format: int
        description: Anzahl der Spielzüge
      reason:
        type: string
        description: Beendigungsgrund
