Flask>=0.10.1
Flask-Login>=0.2.11
Flask-Cache>=0.13.1
Flask-Bcrypt>=0.6.2
SQLAlchemy>=1.0.4
Flask-SQLAlchemy>=2.0
arrow>=0.5.4
ftputil>=3.2
pymysql>=0.6.6
watchdog>=0.8.3
airbrake>=1.1.4
fake-factory>=0.5.1
python-magic>=0.4.6
Flask-Migrate>=1.4.0