# unnötiges generiertes zeugs
.directory
__pycache__
*.log
AIs/
Downloads/
Syntax/
Games/
Codr/errorLog.txt
Codr/session.conf
Codr/settings.txt
test.db
gen/
GameBuilder/Makefile
startServer.bat
dependency-reduced-pom.xml
*.jar
*.orig
PatcherBuild/
syntax.zip

# java müll
.settings/
.metadata/
.recommenders/
bin/
build/
target/
delombok/
.classpath
.project
*.class

# c++ müll
build-*/
*.pro.user
CMakeLists.txt.user
*.o
*.so
*.so.*
# makefiles werden aktuell durch qmake generiert
Makefile

# Möglicherweise IntelliJ Zeugs
.idea
*.iml
META-INF

Frontend/nginx.access
Frontend/nginx.err
Frontend/tmp
Frontend/tmpfile
Frontend/.data_and_stuff

# anderer müll
GameBuilder/buildgame
SandboxMachine/sandboxd
SandboxMachine/sandboxd_helper
SandboxMachine/startGdb.sh
.qmake.stash
*.swp
