# unnötiges generiertes zeugs
.directory
Codr/errorLog.txt
Codr/session.conf
__pycache__
Frontend/tmpfile
*.log
AIs/
Downloads/
Ace/
Games/
Codr/settings.txt
test.db
gen/
GameBuilder/Makefile
startServer.bat

# java müll
.settings/
.metadata/
.recommenders/
bin/
build/
target/
delombok/
.classpath
.project
*.class

# c++ müll
build-*/
*.pro.user
*.o
*.so
*.so.*
# makefiles werden aktuell durch qmake generiert
Makefile

# Möglicherweise IntelliJ Zeugs
.idea
*.iml
META-INF
Frontend/migrations
Frontend/tmp

# anderer müll
GameBuilder/buildgame
SandboxMachine/sandboxd
SandboxMachine/sandboxd_helper
SandboxMachine/startGdb.sh
SandboxMachine/SandboxMachine.ini
turnierserver.prop
