# unnötiges generiertes zeugs
.directory
ESU/errorLog.txt
ESU/session.conf
__pycache__
*.log
AIs/
Downloads/
test.db

# java müll
.settings/
.metadata/
.recommenders/
bin/
build/
target/
delombok/
.classpath
.project
*.class

# c++ müll
build-*/
*.pro.user
*.o

# Möglicherweise IntelliJ Zeugs
.idea
*.iml
META-INF
Frontend/migrations
Frontend/tmp

# anderer müll
GameBuilder/buildgame
SandboxMachine/sandboxd
SandboxMachine/sandboxd_helper
SandboxMachine/startGdb.sh
