<!DOCTYPE html>
<html lang="en">
<head>
<style type="text/css" media="screen">
	#editor {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
</style>
</head>
<body>
<div id="editor">public final class Java {}</div>
<script src="https://cdn.jsdelivr.net/ace/1.1.9/noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/ace/1.1.9/noconflict/ext-modelist.js" type="text/javascript" charset="utf-8"></script>

<script>
	modelist = ace.require("ace/ext/modelist");
	editor = ace.edit("editor");
	//editor.setTheme("${theme}");
	console.log(modelist.getModeForPath("${file}").mode)
	editor.getSession().setMode(modelist.getModeForPath("${file}").mode);
</script>
</body>
</html>