{% extends "base.html" %}

{% block head %}
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
<script src="{{ url_for('static', filename='sortablelist.js') }}"></script>
{% endblock %}

{% block body %}

<div class="ui segment">

{% if current_user.is_authenticated and current_user.can_access(ai) %}
<a class="ui teal right ribbon label" href="{{ url_for("authenticated.edit_ai", id=ai.id)}}">
	Bearbeiten
</a>
{% endif %}

<div class="ui two column very relaxed grid" style="align-items: center">
	<div class="column">
		<img class="ui medium image" src="/api/ai/{{ai.id}}/icon" style="float: right; width: 250px">
	</div>
	<div class="ui hidden vertical divider"></div>
	<div class="column">
		<span style="float: left">
			<h1 class="ui center aligned header" style="font-size: 4em; margin-bottom: 0px;">{{ ai.name }}</h1>
			<h1 class="ui center aligned sub header" style="font-size: 1.2em; margin-top: 0px;">
				von <a href="{{ url_for('anonymous.user', id=ai.user.id) }}">{{ ai.user.name }}</a>
			</h1>
			<p align="middle">{{ ai.desc }}</p>
		</span>
	</div>
</div>

<div class="ui divider"></div>

<div class="ui {{statnum}} statistics">
	{% if ai.rank %}
	<div class="statistic">
		<div class="value"> {{ ai.rank }}. </div>
		<div class="label"> Platz </div>
	</div>
	{% endif %}
	<div class="statistic">
		<div class="value"> {{ ai.elo | int }} </div>
		<div class="label"> ELO </div>
	</div>
	<div class="statistic">
		<div class="value"> {% if game_count > 0 %}{{ game_count }}{% else %}Kein{% endif %} </div>
		<div class="label"> Spiel{% if game_count > 1 %}e{% endif %} </div>
	</div>
	{% if won %}
	<div class="statistic">
		<div class="value">{{ won }}</div>
		<div class="label">gewonnen</div>
	</div>
	{% endif %}
	<div class="statistic">
		<div class="value"> {{ version_count }} </div>
		<div class="label"> Version{% if version_count > 1 %}en{% endif %} </div>
	</div>
</div>

<div class="ui hidden divider"></div>

<div class="ui mini three statistics">
	<div class="statistic">
		<div class="label"> Geschrieben in </div>
		<div class="value"> {{ ai.lang.name }} </div>
	</div>
	<div class="statistic">
		<div class="label"> Spieltyp </div>
		<div class="value"> {{ ai.type.name }} </div>
	</div>
	<div class="statistic">
		<div class="label"> Letzte Änderung </div>
		<div class="value"> {{ ai.modified_str() }} </div>
	</div>
</div>

<div class="ui divider"></div>

Spiele:
<table id="games" class="ui very basic sortable table">
	<thead>
		<tr>
			<th class="center aligned two wide data-id">ID</th>
			<th class="center aligned six wide data-ai1">Herausforderer</th>
			<th class="center aligned six wide data-ai2">Gegner</th>
			<th class="center aligned four wide">Datum</tr>
		</tr>
	</thead>
	<tbody class="list">
		{% for assoc in ai.game_assocs %}
		<tr>
			<td class="center aligned data-id">
				<a href="{{ url_for('anonymous.game', id=assoc.game.id) }}"> {{ assoc.game_id }} </a>
			</td>
			<td class="center aligned data-ai1">
				<a class="content" href="{{url_for('anonymous.ai', id=assoc.game.ais[0].id)}}">
					{% if assoc.game.ai_assocs[0].is_winner %}
					<b><div class="header">{{assoc.game.ais[0].name}}</div></b>
					{% else %}
					<div class="header">{{assoc.game.ais[0].name}}</div>
					{% endif %}
				</a>
			</td>
			<td class="center aligned data-ai2">
				<a class="content" href="{{url_for('anonymous.ai', id=assoc.game.ais[1].id)}}">
					{% if assoc.game.ai_assocs[1].is_winner %}
					<b><div class="header">{{assoc.game.ais[1].name}}</div></b>
					{% else %}
					<div class="header">{{assoc.game.ais[1].name}}</div>
					{% endif %}
				</a>
			</td>
			<td class="center aligned">
				{{assoc.game.time()}}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>


<script>
var list = sortable_list("games");
list.toggle("data-id");
list.toggle("data-id");
</script>


</div>

{% endblock %}
