{% extends "base.html" %}
{% set active_page = "ai_file_editor" %}

{% block head %}
<style type="text/css" media="screen">
	#editor {
		height: 95%;
	}

	#code-seg {
		height: 90%;
	}
</style>
{% endblock %}



{% block rawbody %}
<div class="ui segment" id="code-seg">
	<div class="ui big breadcrumb segment">
		{% for name, url in path %}
			{%if not loop.last %}
				<a class="section" href="{{url}}">{{ name }}</a>
				<div class="divider"> / </div>
			{% else %}
				<div class="active section">{{ name }}</div>
			{% endif %}
		{% endfor %}

		<div class="divider"></div>
		<button id="save" class="ui basic mini button" data-content="Du kannst auch speichern, indem du Ctrl + S drückst.">speichern</button>
	</div>
	<div id="editor">{{ code }}</div>


	<script src="https://cdn.jsdelivr.net/ace/1.1.9/noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
	<script>

	$('#save').popup();

	function upload(editor) {
		console.log("Saveing and Uploading...")
		$("#code-seg").addClass("loading")

		d = {
			path: "{{submit_path}}",
			filename: "{{submit_name}}",
			data: editor.getSession().getValue()
		}

		$.post("/api/ai/{{ai.id}}/upload", d).done(function(data) {
			console.log("File uploaded.", data)
			location.reload();
		}).fail(function(xhr, textStatus, errorThrown) {
			console.log(xhr.responseText.error)
			alert(JSON.parse(xhr.responseText).error)
		})
	}


	var editor = ace.edit("editor");
	editor.setTheme("ace/theme/monokai");
	editor.getSession().setMode("ace/mode/{{ai.lang.ace_name}}");

	editor.commands.addCommand({
		name: 'save_and_upload',
		bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
		exec: upload,
		readOnly: false
	});

	$("#save").on("click", function() {
		upload(editor)
	});

	console.log("editorized, mode: ace/mode/{{ai.lang.ace_name}}")
	</script>
</div>

{% endblock %}