{% extends "base.html" %}
{% set active_page = "ai_file_editor" %}

{% block head %}
<style type="text/css" media="screen">
	#editor {
		height: 95%;
	}

	#code-seg {
		height: 90%;
	}
</style>
{% endblock %}



{% block rawbody %}
<div class="ui segment" id="code-seg">
	<div class="ui big breadcrumb segment">
		{% for name, url in path %}
			{%if not loop.last %}
				<a class="section" href="{{url}}">{{ name }}</a>
				<div class="divider"> / </div>
			{% else %}
				<div class="active section">{{ name }}</div>
			{% endif %}
		{% endfor %}

		<div class="divider"></div>
		<button id="save" class="ui basic small {% if readonly %}disabled{% endif %} button" data-content="Du kannst auch speichern, indem du Ctrl + S drückst.">speichern</button>
		<a id="compile" class="ui basic small {% if readonly %}disabled{% endif %} button" href="{{url_for("authenticated.compile_ai", id=ai.id)}}">Kompilieren</a>
		<div class="ui compact selection dropdown" style="font-size: 0.69em;">
			<input type="hidden" name="editor_theme">
			<div class="default text">Farbstil</div>
			<i class="dropdown icon"></i>
			<div class="menu">
				<div class="item" data-value="chrome">Standart</div>
				<div class="item" data-value="eclipse">Eclipse</div>
				<div class="item" data-value="monokai">Monokai</div>
				<div class="item" data-value="solarized_dark">Solarized</div>
			</div>
		</div>

		<div class="ui ignored ignored icon buttons">
			<div class="ui basic show button" id="increase_font_size"><i class="plus icon"></i></div>
			<div class="ui basic hide button" id="decrease_font_size"><i class="minus icon"></i></div>
		</div>
	</div>
	<div id="editor">{{ code }}</div>


	<script src="https://cdn.jsdelivr.net/ace/1.1.9/noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
	<script>

	$('#save').popup();

	function upload(editor) {
		console.log("Saveing and Uploading...")
		$("#code-seg").addClass("loading")

		d = {
			path: "{{submit_path}}",
			filename: "{{submit_name}}",
			data: editor.getSession().getValue()
		}

		$.post("/api/ai/{{ai.id}}/upload", d).done(function(data) {
			console.log("File uploaded.", data)
			location.reload();
		}).fail(function(xhr, textStatus, errorThrown) {
			console.log(xhr.responseText.error)
			alert(JSON.parse(xhr.responseText).error)
		})
	}


	var editor = ace.edit("editor");
	var font_size = 12;
	//editor.setTheme("ace/theme/monokai");
	editor.getSession().setMode("ace/mode/{{ai.lang.ace_name}}");
	{% if readonly %}
	editor.setReadOnly(true);
	{% endif %}

	editor.commands.addCommand({
		name: 'save_and_upload',
		bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
		exec: upload,
		readOnly: false
	});

	$("#save").on("click", function() {
		upload(editor)
	});

	console.log("editorized, mode: ace/mode/{{ai.lang.ace_name}}")

	$(".ui.dropdown").dropdown({
		onChange: function(text, value) {
			editor.setTheme("ace/theme/"+text);
		}
	});

	$("#increase_font_size").on("click", function() {
		font_size++;
		$("#editor").css("font-size", font_size);
	});

	$("#decrease_font_size").on("click", function() {
		font_size--;
		font_size = Math.max(font_size, 5);
		$("#editor").css("font-size", font_size);
	});

	</script>
</div>

{% endblock %}