{% extends "base.html" %}
{% set active_page = "ai_file_browser" %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment-with-locales.min.js"></script>
<script>moment.locale("de")</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/livestamp/1.1.2/livestamp.js"></script>
{% endblock %}
{% block body %}



{% if connected %}
<table class="ui celled striped table">
	<thead>
		<tr>
			<th colspan="4">
				<div class="ui breadcrumb">
					{% for name, url in path %}
						{% if loop.first %}
							<a class="section" href="{{url}}">{{ name }}</a>
							<div class="divider"> - </div>
						{% elif not loop.last %}
							<a class="section" href="{{url}}">{{ name }}</a>
							<div class="divider"> / </div>
						{% else %}
							<div class="active section">{{ name }}</div>
						{% endif %}
					{% endfor %}
				</div>
			</th>
		</tr>
	</thead>
	<tbody>
		{% if objs %}
		{% for obj in objs %}
		<tr>
			<td class="collapsing">
				<i class="{% if obj.isfile %}file outline{% else %}folder{% endif %} icon"></i>
				<a href="{{obj.url}}">{{ obj.name }}</a>
			</td>
			<td>Objekte haben Beschreibungen? Hier schon!</td>
			<td class="right aligned collapsing" data-livestamp="{{ obj.timestamp }}"></td>
			<td class="right aligned collapsing">
				<a class="delete_button ui basic red button" name="{{obj.name}}">Loeschen</a>
			</td>
		</tr>
		{% endfor %}
		{% else %}
		<tr>
			<td calss="collapsing">
				Dieser Ordner enthält noch keine Objekte.
			</td>
		</tr>
		{% endif %}
		<tr>
			<td class="ui input">
				<input type="text" id="newfile_name" placeholder="foo.txt">
			</td>
			<td>Diese Datei gibt es nicht, oder etwa doch?</td>
			<td></td>
			<td><button class="ui basic teal button" id="newfile">Erzeugen</button></td>
		</tr>
		<tr>
			<td class="ui input">
				<input type="text" id="newdir_name" placeholder="foobar">
			</td>
			<td>Diesen Ordner gibt es nicht, oder etwa doch?</td>
			<td></td>
			<td><button class="ui basic teal button" id="newdir">Erzeugen</button></td>
		</tr>
	</tbody>
	<div class="ui dimmer">
		<div class="ui loader"></div>
	</div>
</table>
{% else %}
<div class="ui page dimmer visible active">
	<div class="content">
		<div class="center">
			<h2 class="ui inverted icon header">
				<i class="heartbeat icon"></i>
				Verbindungsprobleme
			</h2>
		</div>
	</div>
</div>
{% endif %}

<script>

$("#newfile").on('click', function () {
	$(".dimmer").addClass("active")

	d = {
		path: "{{submit_path}}",
		filename: $("#newfile_name").val(),
		data: ""
	}

	$.post("/api/ai/{{ai.id}}/upload", d).done(function(data) {
		console.log("File uploaded.", data)
		location.reload();
	}).fail(function(xhr, textStatus, errorThrown) {
		console.log(xhr.responseText.error)
		alert(JSON.parse(xhr.responseText).error)
	})
})

$("#newdir").on('click', function () {
	$(".dimmer").addClass("active")

	d = {
		path: "{{submit_path}}",
		name: $("#newdir_name").val(),
	}

	$.post("/api/ai/{{ai.id}}/create_folder", d).done(function(data) {
		console.log("Folder created.", data)
		location.reload();
	}).fail(function(xhr, textStatus, errorThrown) {
		console.log(xhr.responseText.error)
		alert(JSON.parse(xhr.responseText).error)
	})
})

$(".delete_button").on('click', function() {
	console.log("Del:", $(this).attr("name"))
	$(".dimmer").addClass("active")

	$.post("/api/ai/{{ai.id}}/delete_file", {path: "{{submit_path}}", filename: $(this).attr("name")}).done(function(data) {
		console.log("File deleted.", data)
		location.reload();
	}).fail(function(xhr, textStatus, errorThrown) {
		console.log(xhr.responseText.error)
		alert(JSON.parse(xhr.responseText).error)
	})
})


</script>

{% endblock %}