{% from "macros.html" import render_ai %}
{% extends "base.html" %}
{% set active_page = "ai_list" %}

{% block head %}
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
{% endblock %}

{% block body %}

<h4>'{{type.name}}' KIs</h4>
<div class="ui divider"></div>

<table id="ais" class="ui very basic sortable table">
	<thead>
		<tr>
		<th class="left aligned one wide data-rank">Platz</th>
		<th class="center aligned two wide data-elo">ELO</th>
		<th class="left aligned six wide data-name">Name</th>
		<th class="right aligned six wide data-user">Benutzer</th>
		<th class="right aligned three wide data-topkek">Topkek</th>
		</tr>
	</thead>
	<tbody class="list">
		{% for ai in ais %}
		<tr>
			<td class="left aligned data-rank">
				{{ai.rank}}
			</td>
			<td class="center aligned data-elo">
				{{ai.elo | int}}
			</td>
			<td class="left aligned data-name">
				<a class="content" href="{{url_for('anonymous.ai', id=ai.id)}}">
					<div class="header">{{ai.name}}</div>
				</a>
			</td>
			<td class="right aligned data-user">
				<a class="content" href="{{url_for('anonymous.user', id=ai.user.id)}}">
					<div class="header">{{ai.user.name}}</div>
				</a>
			</td>
			<td class="right aligned data-topkek">
				Bearbeiten oder so?
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>


<script>
var options = {
	valueNames: []
}

$("thead > tr > th").each(function () {
	$.each($(this).attr("class").split(/\s+/), function(index, item){
		if (item.indexOf('data-') == 0) {
			options.valueNames.push(item);
		}
	});
});



var aiList = new List("ais", options);

var s_type = "data-rank";
var s_dir = "ascending";

function toggle(type) {
	if (s_type === type) {
		if (s_dir === "ascending") {
			s_dir = "descending";
		} else {
			s_dir = "ascending";
		}
	} else {
		s_dir = "ascending";
	}
	s_type = type;

	if (s_dir === "ascending") {
		aiList.sort(s_type, {order: "asc"});
	} else {
		aiList.sort(s_type, {order: "desc"});
	}

	$("thead > tr > th").each(function () {
		var e = $(this);
		e.removeClass("sorted");
		e.removeClass("ascending");
		e.removeClass("descending");
		if (e.hasClass(s_type)) {
			e.addClass("sorted");
			e.addClass(s_dir);
		}
	});
}

$("thead > tr > th").on("click", function () {
	$.each($(this).attr("class").split(/\s+/), function(index, item){
		if (item.indexOf('data-') == 0) {
			toggle(item);
		}
	});
});

toggle("data-rank");
toggle("data-rank");

</script>

{% endblock %}
