{% from "macros.html" import render_ai %}
{% extends "base.html" %}
{% set active_page = "ai_list" %}

{% block head %}
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
<script src="{{ url_for('static', filename='sortablelist.js') }}"></script>
{% endblock %}

{% block body %}

<h4>'{{type.name}}' KIs</h4>
<div class="ui divider"></div>

<table id="ais" class="ui very basic sortable table">
	<thead>
		<tr>
		<th class="left aligned one wide">Icon</th>
		<th class="center aligned one wide data-rank">Platz</th>
		<th class="center aligned two wide data-elo">ELO</th>
		<th class="left aligned six wide data-name">Name</th>
		<th class="right aligned six wide data-user">Benutzer</th>
		<th class="center aligned three wide data-lang">Sprache</th>
		{% if logged_in %}
		<th class="center aligned three wide">Herausfordern</th>
		{% endif %}
		</tr>
	</thead>
	<tbody class="list">
		{% for ai in ais %}
		<tr data-id="{{ai.id}}">
			<td>
				<img class="ui avatar image" src="{{ url_for('api.ai_icon', id=ai.id) }}">
			</td>
			<td class="center aligned data-rank">
				{{ai.rank}}
			</td>
			<td class="center aligned data-elo">
				{{ai.elo | int}}
			</td>
			<td class="left aligned data-name">
				<a class="content" href="{{url_for('anonymous.ai', id=ai.id)}}">
					<div class="header">{{ai.name}}</div>
				</a>
			</td>
			<td class="right aligned data-user">
				<a class="content" href="{{url_for('anonymous.user', id=ai.user.id)}}">
					<div class="header">{{ai.user.name}}</div>
				</a>
			</td>
			<td class="right aligned data-lang">
				<a class="content" href="{{ ai.lang.url }}">
					<div class="header">{{ ai.lang.name }}</div>
				</a>
			</td>
			{% if own %}
			<td class="right aligned">
				{% if ai.active_version() %}
				<a class="ui challenge button content">Herausfordern</a>
				{% endif %}
			</td>
			{% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>

{% if own %}
<div class="ui wide custom popup" style="max-width: 300px; width: 300px;">
	<div class="ui attached label">Deine KI</div>
	<div class="ui divider"></div>
	<div id="own_dropdown" class="ui fluid selection dropdown">
		<input type="hidden" id="own_ai" value="{{own[0].id}}">
		<i class="dropdown icon"></i>
		<div class="text" data-value="{{own[0].id}}">
			<img class="ui mini avatar image" src="/api/ai/{{own[0].id}}/icon">
			{{own[0].name}} v{{own[0].active_version().version_id}}
		</div>
		<div class="menu transition hidden">
		{% for ai in own %}
			<div class="item" data-value="{{ai.id}}">
				<img class="ui mini avatar image" src="/api/ai/{{ai.id}}/icon">
				{{ai.name}} v{{ai.active_version().version_id}}
			</div>
		{% endfor %}
		</div>
	</div>
	<center style="padding-top: 1em;">
		<a id="start_challenge" class="ui teal fluid button">Herausforderung starten</a>
	</center>
</div>
{% endif %}

<script>
var list = sortable_list("ais");
list.toggle("data-rank");
</script>
{% if own %}
<script>
$(".ui.dropdown").dropdown()

var enemy_id;

$(".challenge.button").on("click", function() {
	enemy_id = $(this).parent().parent().attr("data-id");
	// FIXME: disable enemy_id in ais
	$("#own_dropdown .menu .item").each(function () {
		if ($(this).attr("data-value") == enemy_id) {
			$(this).addClass("disabled");
		} else {
			$(this).removeClass("disabled");
		}
	});
	$(this).popup({
		popup: $('.custom.popup'),
		on: "click",
		position: "left center"
	}).popup("toggle")
});

$("#start_challenge").on("click", function() {
	console.log(enemy_id, "vs", $("#own_ai").val())
	$.post("/api/games/start", {"ai": [$("#own_ai").val(), enemy_id]}).done(function(data) {
		console.log("Challenge started.");
		setTimeout(function(){ location.href = "/game_list"; }, 500);
	}).fail(function(xhr, textStatus, errorThrown) {
		console.log(xhr.responseText.error);
		alert(JSON.parse(xhr.responseText).error);
	});
});
</script>
{% endif %}
{% endblock %}
