{% set nav_menu = [
	(url_for("anonymous.ai_list"), "ai_list", "KI-Liste"),
	(url_for("anonymous.user_list"), "user_list", "Nutzer-Liste"),
	(url_for("anonymous.game_list"), "game_list", "Spiel-Liste")
]%}

{% if current_user and current_user.is_authenticated() %}
	{% do nav_menu.append((url_for("profile.ais_challenge"), "challenge", "Herausfordern")) %}
	{% if current_user.admin %}
		{% do nav_menu.append((url_for("profile.admin"), "admin", "Admin-Interface")) %}
	{% endif %}
	{% do nav_menu.append((url_for("profile.current_profile"), "profile", current_user.name)) %}
{% endif %}

{% set active_page = active_page | default('index')%}

<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<title>{% block title %}Turnierserver{% endblock %}</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<link rel="stylesheet" href="http://beta.semantic-ui.com/dist/semantic.min.css"></link>
		<script src="http://beta.semantic-ui.com/dist/semantic.min.js"></script>
		{% block head %}
		{% endblock %}
</head>
<body>
	<nav class="ui menu inverted navbar page grid">
		<a href="{{ url_for("anonymous.index") }}" class="brand {{'active' if active_page == 'index'}} item">Turnierserver</a>
		<div class="right menu">
			{% for url, id, name in nav_menu %}
				<a href="{{ url | e }}" class="{{'active' if id == active_page}} item">{{ name | e }}</a>
			{% endfor %}
			{% if current_user and current_user.is_authenticated() %}
				<div class="item"><button id="logout" class="ui green button">Ausloggen</button></div>
				<script>
					$("#logout").on("click", function() {
						$.post("/api/logout").done(function() { window.location.href = "/" })
					});
				</script>
			{% else %}
				<div class="item">
					<div class="ui input">
						<input id="username" type="input" placeholder="Nutzername">
					</div>
				</div>
				<div class="item">
					<div class="ui input">
						<input id="password" type="password" placeholder="Passwort">
					</div>
				</div>
				<div class="item"><button id="login" class="ui green button">Einloggen</button></div>
				<script>
					var f = function() {
						console.log("Logging in...")
						var pw = $("#password").val()
						var name = $("#username").val()
						$.post("/api/login", {username: name, password: pw}).done(function(data) {
							console.log("Logged in.")
							location.reload();
						}).fail(function(xhr, textStatus, errorThrown) {
							console.log(xhr.responseText.error)
							alert(JSON.parse(xhr.responseText).error)
						})
					}
					$("#login").on("click", f)
					$('#username, #password').keypress(function(event){
						var keycode = (event.keyCode ? event.keyCode : event.which);
							if(keycode == '13'){
								f()
							}
					});
				</script>
			{% endif %}
		</div>
	</nav>
	{% block rawbody %}
	<div class="ui page grid">
			<div class="ui grid">
					<div class="row">
							<div class="column">
									<div class="ui huge message page grid center aligned">
											<h1 class="ui huge header">#Yolo Swag Yolonese</h1>
											<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
											<a class="ui green button">Ein grüner Knopf</a>
									</div>
							</div>
					</div>
			</div>
			<div class="ui hidden divider"></div>

			<div class="one column row">
					<div class="column">
						{% block body %}
						{% endblock %}
					</div>
			</div>

			<div class="ui divider" style="margin-top: 5em;"></div>
			<div class="ui container">
				<div class="ui stackable relaxed grid">
					<div class="column">
						<h2 class="ui header">Das hier ist ein Füßer</h3>
						{% for size in [3, 4, 5, 6] %}
							<h{{size}} class="ui {{ loop.cycle('left', 'right')}} floated header">{{'Fuß ' * size}}</h{{size}}>
							<div class="ui hidden clearing divider"></div>
						{% endfor %}
						<a href="https://github.com/LuckyLukert/Turnierserver" class="ui teal button">Die (private) Github-Repo</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
</body>
</html>