{% from "macros.html" import render_settings with context %}

{% set nav_menu = [
	(url_for("anonymous.ai_list"), "ai_list", "KIs"),
	(url_for("anonymous.user_list"), "user_list", "Nutzer"),
	(url_for("anonymous.game_list"), "game_list", "Spiele")
]%}

{% if current_user and current_user.is_authenticated %}
	{% if current_user.admin %}
		{% do nav_menu.append((url_for("authenticated.admin"), "admin", "Adminoberfläche")) %}
	{% endif %}
	{% do nav_menu.append((url_for("authenticated.current_profile"), "profile", current_user.name)) %}
{% endif %}

{% set active_page = active_page | default('index')%}

<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<title>{% block title %}Turnierserver{% endblock %}</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.3/semantic.min.css">
	<script src="//oss.maxcdn.com/semantic-ui/2.1.3/semantic.min.js"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	{% block head %}
	{% endblock %}
</head>
<body>
	<nav class="ui menu inverted navbar page grid">
		<a href="{{ url_for("anonymous.index") }}" class="brand {{'active' if active_page == 'index'}} item">
			<img src="/static/BwInf-Kopf.svg">
		</a>
		<a href="{{ url_for("anonymous.tutorial") }}" class="{{'active' if active_page == 'tutorial'}} item">
			Tutorial
		</a>
		<div class="right menu">
			{% for url, id, name in nav_menu %}
			<a href="{{ url | e }}" class="{{'active' if active_page == id}} item">{{ name | e }}</a>
			{% endfor %}
			{% if not (current_user and current_user.is_authenticated) %}
			<div class="item">
				<div class="ui input">
					<input id="login_email" name="email" type="text" placeholder="Email / Username" style="max-width: 10em">
				</div>
			</div>
			<div class="item">
				<div class="ui input">
					<input id="login_password" name="password" type="password" placeholder="Passwort" style="max-width: 10em">
				</div>
			</div>
			<div class="item">
				<button id="login" class="ui green button">Einloggen</button>
				<div class="ui flowing special popup" style="min-width: 13em;">
					<div class="ui slider checkbox checked">
						<input id="remember-me" type="checkbox">
						<label>Login merken</label>
					</div>
				</div>
			</div>
			<script>
				var f = function() {
					console.log("Logging in...");
					var pw = $("#login_password").val();
					var email = $("#login_email").val();
					var remember = $("#remember-me").prop("checked");
					$.post("/api/login", {email: email, password: pw, remember: remember}).done(function(data) {
						console.log("Logged in.");
						location.reload();
					}).fail(function(xhr, textStatus, errorThrown) {
						console.log(xhr.responseText.error);
						alert(JSON.parse(xhr.responseText).error);
					});
				}
				$("#login").on("click", f)
				$('#login_email, #login_password').keypress(function(event){
					var keycode = (event.keyCode ? event.keyCode : event.which);
						if(keycode == '13'){
							f();
						}
				});
				$('#login').popup({
					inline: true,
					hoverable: true,
					delay: { hide: 800},
					position:"bottom center"
				});
				$('.ui.checkbox').checkbox();
			</script>
			{% endif %}
			{{render_settings(gametypes=gametypes, current_gametype=current_gametype)}}
		</div>
	</nav>
	{% block rawbody %}
	<div class="ui page grid">
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
		<div id="flashes" class="row">
			<div class="column">
				{% for category, message in messages %}
					<div class="ui {{category}} message">
						<i class="close icon"></i>
						<div class="header">
							{{message}}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<script>
		$('.message .close').on('click', function() {
			$(this).closest('.message').transition('fade');
		});
		</script>
		{% endif %}
		{% endwith %}
		<div class="one column row">
			<div class="column">
			{% block body %}
			{% endblock %}
			</div>
		</div>
	</div>
	{% endblock %}
</body>
</html>
