{% extends "base.html" %}
{% set active_page = "challenge" %}
{% block body %}
Deine:
<div class="ui fluid selection dropdown">
	<input type="hidden" name="ai" vaule="{{ ownfirst.id }}">
	<i class="dropdown icon"></i>
	<div class="text">
		<img class="ui mini avatar image" src="/api/ai/{{ ownfirst.id }}/icon">
		{{ ownfirst.name }}
	</div>
	<div class="menu transition hidden">
	{% for ai in own %}
		<div class="item" data-value="{{ ai.id }}">
			<img class="ui mini avatar image" src="/api/ai/{{ ai.id }}/icon">
			{{ ai.name }}
		</div>
	{% endfor %}
	</div>
</div>

Gegen:

<div class="ui fluid selection dropdown">
	<input type="hidden" name="ai" vaule="{{ allfirst.id }}">
	<i class="dropdown icon"></i>
	<div class="text">
		<img class="ui mini avatar image" src="/api/ai/{{ allfirst.id }}/icon">
		{{ allfirst.name }}
	</div>
	<div class="menu transition hidden">
	{% for ai in all %}
		<div class="item" data-value="{{ ai.id }}">
			<img class="ui mini avatar image" src="/api/ai/{{ ai.id }}/icon">
			{{ ai.name }}
		</div>
	{% endfor %}
	</div>
</div>


<script>
	$(".dropdown").dropdown();
</script>

{% endblock %}