{% extends "base.html" %}
{% set active_page = "challenge" %}
{% block body %}
Deine:
<div id="own_dropdown" class="ui fluid selection dropdown">
	<input type="hidden" id="ai1" value="{{ ownfirst.id }}">
	<i class="dropdown icon"></i>
	<div class="text">
		<img class="ui mini avatar image" src="/api/ai/{{ ownfirst.id }}/icon">
		{{ ownfirst.name }}
	</div>
	<div class="menu transition hidden">
	{% for ai in own %}
		<div class="{% if allfirst.id == ai.id %}disabled{% endif %} item" data-value="{{ ai.id }}">
			<img class="ui mini avatar image" src="/api/ai/{{ ai.id }}/icon">
			{{ ai.name }}
		</div>
	{% endfor %}
	</div>
</div>

Gegen:

<div id="all_dropdown" class="ui fluid selection dropdown">
	<input type="hidden" id="ai2" value="{{ allfirst.id }}">
	<i class="dropdown icon"></i>
	<div class="text">
		<img class="ui mini avatar image" src="/api/ai/{{ allfirst.id }}/icon">
		{{ allfirst.name }}
	</div>
	<div class="menu transition hidden">
	{% for ai in all %}
		<div class="{% if ownfirst.id == ai.id %}disabled{% endif %} item" data-value="{{ ai.id }}">
			<img class="ui mini avatar image" src="/api/ai/{{ ai.id }}/icon">
			{{ ai.name }}
		</div>
	{% endfor %}
	</div>
</div>

<a id="challenge" class="ui labeled icon button">
	<i class="save icon"></i> Herausfordern
</a>


<script>
	$(".dropdown").dropdown();

	$("#own_dropdown").on("change", function() {
		$("#all_dropdown .menu .item").each(function () {
			if ($(this).attr("data-value") == $("#ai1").val()) {
				$(this).addClass("disabled")
			} else {
				$(this).removeClass("disabled")
			}
		})
	})

	$("#all_dropdown").on("change", function() {
		$("#own_dropdown .menu .item").each(function () {
			if ($(this).attr("data-value") == $("#ai2").val()) {
				$(this).addClass("disabled")
			} else {
				$(this).removeClass("disabled")
			}
		})
	})

	$("#challenge").on("click", function() {

		var ais = [$("#ai1").val(), $("#ai2").val()]

		$.post("/api/games/start", {"ai": ais}).done(function(data) {
			console.log("Challenge started.")
			location.href = "/game_list"
			//location.reload();
		}).fail(function(xhr, textStatus, errorThrown) {
			console.log(xhr.responseText.error)
			alert(JSON.parse(xhr.responseText).error)
		})
	})
</script>

{% endblock %}