{% extends "base.html" %}
{% set active_page = "challenge" %}
{% block body %}
Deine:
<div class="ui fluid selection dropdown">
	<input type="hidden" id="ai1" value="{{ ownfirst.id }}">
	<i class="dropdown icon"></i>
	<div class="text">
		<img class="ui mini avatar image" src="/api/ai/{{ ownfirst.id }}/icon">
		{{ ownfirst.name }}
	</div>
	<div class="menu transition hidden">
	{% for ai in own %}
		<div class="item" data-value="{{ ai.id }}">
			<img class="ui mini avatar image" src="/api/ai/{{ ai.id }}/icon">
			{{ ai.name }}
		</div>
	{% endfor %}
	</div>
</div>

Gegen:

<div class="ui fluid selection dropdown">
	<input type="hidden" id="ai2" value="{{ allfirst.id }}">
	<i class="dropdown icon"></i>
	<div class="text">
		<img class="ui mini avatar image" src="/api/ai/{{ allfirst.id }}/icon">
		{{ allfirst.name }}
	</div>
	<div class="menu transition hidden">
	{% for ai in all %}
		<div class="item" data-value="{{ ai.id }}">
			<img class="ui mini avatar image" src="/api/ai/{{ ai.id }}/icon">
			{{ ai.name }}
		</div>
	{% endfor %}
	</div>
</div>

<a id="challenge" class="ui labeled icon button">
	<i class="save icon"></i> Herausfordern
</a>


<script>
	$(".dropdown").dropdown();

	$("#challenge").on("click", function() {

		var ais = [$("#ai1").val(), $("#ai2").val()]


		$.post("/api/games/start", {"ai": ais}).done(function(data) {
			console.log("Challenge started.")
			//location.reload();
		}).fail(function(xhr, textStatus, errorThrown) {
			console.log(xhr.responseText.error)
			alert(JSON.parse(xhr.responseText).error)
		})
	})
</script>

{% endblock %}