{% extends "base.html" %}
{% set active_page = "edit_ai" %}
{% block head %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
{% endblock %}

{% block body %}


<div class="field">
	<div class="ui medium image dimmable" style="width: 200px; height: 200px;">
		<div style="display: none;" class="ui dimmer transition hidden">
			<div class="content">
				<div class="center">
					<div id="upload_file" class="ui primary button">Hochladen</div>
					<form id="icon_form" action="/api/ai/{{ai.id}}/upload_icon" method="post" enctype="multipart/form-data">
						<input id="file_input" type="file" name="icon" style="display: none;" />
					</form>
					<div id="reset_icon" class="ui button">Zurücksetzen</div>
				</div>
			</div>
		</div>
		<img class="ui image dimmable" src="/api/ai/{{ ai.id }}/icon" style="width: 200px; height: 200px;">
	</div>
	<script>
		$('.dimmable').dimmer({on: 'hover'});
		$('#upload_file').on('click', function() {
			$('#file_input').trigger('click');
		});
		$("#file_input").change(function(){
			var fd = new FormData();
			fd.append('file', $("#file_input")[0].files[0]);
			$.ajax({
				url: "/api/ai/{{ai.id}}/upload_icon",
				type: $("#icon_form").attr("method"),
				dataType: "JSON",
				data: fd,
				processData: false,
				contentType: false,
				success: function (data, status)
				{
					console.log(data);
					if (data.error) {
						if (data.mimetype) {
							alert(data.error + ": " + data.mimetype);
						} else {
							alert(data.error);
						}
					} else {
						location.reload();
					}
				},
				error: function (xhr, desc, err)
				{
					alert(err);
				}
			});
		});
		$("#reset_icon").on("click", function() {
			console.log("resetting icon");
			$.post("/api/ai/{{ai.id}}/reset_icon", {}, function() {
				location.reload();
			});
		})
	</script>
</div>


<form class="ui form" id="form">
	<h4 class="ui dividing header">Ki Infos</h4>
	<div class="two fields">
		<div class="field">
			<label>Name</label>
			<input type="text" name="name" id="name" placeholder="Name" value="{{ ai.name }}">
		</div>
		<div class="field">
			<label>Spieltyp</label>
			<label>{{ai.type.name}}</label>
		</div>
	</div>
	<br />
	<div class="two fields">
		<div class="field">
			<label>Sprache</label>
			<select class="ui search dropdown" id="lang">
				<option value="{{ ai.lang.id }}">{{ ai.lang.name}}</option>
				{% for lang in langs %}
					{% if lang != ai.lang %}
					<option value="{{ lang.id }}">{{ lang.name }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
		<div class="field">
			<label>Extras</label>
			<select name="extras" multiple="" class="ui fluid dropdown" id="extras">
				<option value="">Extras:</option>
				<option value="pypy" class="active selected">Pypy</option>
				<option value="lombok">Lombok</option>
				<option value="dmlib">DeineMudda</option>
				<option value="swag">Swag</option>
				<option value="yolo">Y∂l∂</option>
			</select>
			<script>
				// ## Das ist verdammt haesslig und sollte nicht verdammt haesslig sein.
				$("#extras").dropdown("set selected", [
					{% for selected in ai.lastest_version().extras() %}
						"{{selected}}",
					{% endfor %}
				]);
			</script>
		</div>
	</div>
	<div class="field">
		<label>Beschreibung</label>
		<textarea id="desc">{{ ai.desc }}</textarea>
	</div>
	<div class="ui centered grid" style="margin-top: 1em; margin-bottom: 1em;">
		<div id="submit" class="ui teal labeled icon submit button">
			<i class="save outline icon"></i> Speichern
		</div>
		<div id="copy_code" class="ui labeled icon button">
			<i class="copy outline icon"></i> SimplePlayer kopieren
		</div>
		<a class="ui labeled icon submit button" href="{{url_for("authenticated.file_browser", id=ai.id, path="")}}">
			<i class="disk outline icon"></i> Code bearbeiten
		</a>
		<a class="ui labeled icon submit button" href="{{url_for("authenticated.compile_ai", id=ai.id)}}">
			<i class="file code outline icon"></i> Kompilieren
		</a>
		<div id="delete" class="ui red labeled icon button">
			<i class="trash outline icon"></i> Löschen
		</div>
	</div>
</form>

<div class="ui segment">
	<h2>Versionen:</h2>
	<table class="ui celled padded table">
		<thead>
			<tr><th class="single line">Versionsnummer</th>
			<th>Kompiliert</th>
			<th>Qualifiziert</th>
			<th>Freigegeben</th>
			<th>Aktion</th>
		</tr></thead>
		<tbody>
			{% for version in ai.version_list %}
			<tr>
				<td>
					<h2 class="ui center aligned header">{{version.version_id}}</h2>
				</td>
				<td class="center aligned">
					{% if version.compiled %}
					<i class="large green checkmark icon"></i>
					{% elif version.current %}
					<a class="ui basic teal button" href="{{url_for("authenticated.compile_ai", id=ai.id)}}">Kompilieren</a>
					{% else %}
					<i class="large red remove icon"></i>
					{% endif %}
				</td>
				<td class="center aligned">
					{% if version.qualified %}
					<i class="large green checkmark icon"></i>
					{% elif version.compiled and version.current %}
					<a class="ui basic teal button" href="{{url_for("authenticated.qualify_ai", id=ai.id)}}">Qualifizieren</a>
					{% else %}
					<i class="large red remove icon"></i>
					{% endif %}
				</td>
				<td class="center aligned">
					{% if version.frozen %}
					<i class="large green checkmark icon"></i>
					{% elif version.qualified and version.current %}
					<button id="freeze_version" class="ui basic teal button">Freigeben</button>
					{% else %}
					<i class="large red remove icon"></i>
					{% endif %}
				</td>
				<td class="center aligned">
					{% if version.current %}
					<button class="ui basic teal button">ZIP hochladen</button>
					{% else %}
					<button class="ui basic teal button">als ZIP runterladen</button>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
			<tr>
				<td class="three wide center aligned">
					<button id="new_version" class="ui large basic {% if not ai.version_list[-1].frozen %}disabled{% endif %} teal button">Neue Version</button>
					<script>
					$("#new_version").on("click", function() {
						$.post("/api/ai/{{ai.id}}/new_version", {}, function () {
							location.reload();
						})
					})
					</script>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div id="delete_modal" class="ui basic modal">
	<i class="close icon"></i>
	<div class="header">
		KI löschen
	</div>
	<div class="content">
		<div class="image">
			<i class="trash outline icon"></i>
		</div>
		<div class="description">
			<p>Das löschen einer KI kann nicht rückgängig gemacht werden! Willst du {{ai.name}} wirklich löschen?</p>
		</div>
	</div>
	<div class="actions">
		<div class="two fluid ui inverted buttons">
			<div class="ui red basic inverted cancel button">
				<i class="remove icon"></i>
				Nein
			</div>
			<div class="ui green basic inverted ok button">
				<i class="checkmark icon"></i>
				Ja
			</div>
		</div>
	</div>
</div>


<div id="copy_simple_player_modal" class="ui basic modal">
	<i class="close icon"></i>
	<div class="header">
		BeispielKI kopieren
	</div>
	<div class="content">
		<div class="image">
			<i class="copy outline icon"></i>
		</div>
		<div class="description">
			<p>Das kopieren des Beispielcodes wird deine aktuelle Version (Version {{ai.lastest_version().version_id}}) überschreiben! Bist du dir sicher?</p>
		</div>
	</div>
	<div class="actions">
		<div class="two fluid ui inverted buttons">
			<div class="ui red basic inverted cancel button">
				<i class="remove icon"></i>
				Nein
			</div>
			<div class="ui green basic inverted ok button">
				<i class="checkmark icon"></i>
				Ja
			</div>
		</div>
	</div>
</div>



<script>

$('.ui.checkbox').checkbox();
$('select.dropdown').dropdown();


var f = function(force) {
	console.log("Updating AI...");
	if (force) {$('#form').addClass('loading');}
	else {$("#submit").addClass("loading")}
	var name = $("#name").val();
	var lang = $("#lang").val();
	var desc = $("#desc").val();
	var extras = $("#extras").val();

	var d = {
		name: name,
		lang: lang,
		description: desc,
		extra: extras
	};
	console.log(name, lang, desc, extras);

	$.post("/api/ai/{{ai.id}}/update", d).done(function(data) {
		console.log("AI changed.");
		if (force) {location.reload();}
		else {$("#submit").removeClass("loading")}
	}).fail(function(xhr, textStatus, errorThrown) {
		console.log(xhr.responseText.error);
		alert(JSON.parse(xhr.responseText).error);
	});
};

$("#submit").on("click", function() {f(true)});
$('input:text, textarea').keyup( $.debounce( 350, function() {f(false)} ) );
$('#extras, #lang').change(function() {f(false)});


$("#copy_code").on("click", function() {
	$('#copy_simple_player_modal').modal({
		onApprove: function() {
			$('#form').addClass('loading');
			$.post("/api/ai/{{ai.id}}/copy_example_code").done(function(data) {
				console.log("Code copied.");
				location.reload();
			}).fail(function(xhr, textStatus, errorThrown) {
				console.log(xhr.responseText.error);
				alert(JSON.parse(xhr.responseText).error);
			});
		}
	}).modal('show');
});


$("#delete").on("click", function() {
	$('#delete_modal').modal({
		onApprove: function() {
			$.post("/api/ai/{{ai.id}}/delete").done(function(data) {
				console.log("AI deleted.");
				location.href = "/";
			}).fail(function(xhr, textStatus, errorThrown) {
				console.log(xhr.responseText.error);
				alert(JSON.parse(xhr.responseText).error);
			});
		}
	}).modal('show');
});

$("#freeze_version").on('click', function() {
	$(this).addClass("disabled");
	$.post("/api/ai/{{ai.id}}/freeze").done(function(data) {
		location.reload();
	}).fail(function(xhr, textStatus, errorThrown) {
		console.log(xhr.responseText.error);
		alert(JSON.parse(xhr.responseText).error);
	});
});

</script>
{% endblock %}
