{% extends "base.html" %}
{% set active_page = "edit_code" %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.17/require.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.9/ace.js" type="text/javascript" charset="utf-8"></script>
<style type="text/css" media="screen">
	#editor {
		height: 90%;
	}

	#code-seg {
		height: 90%;
	}
</style>
{% endblock %}


{% block rawbody %}
<div class="ui segment" id="code-seg">
	<div>
		<h2>Code von {{ ai.name }}</h2>

		<div id="submit" class="ui huge teal labeled icon submit button">
			<i class="save outline icon"></i> Speichern
		</div>
		<div id="submit" class="ui huge teal labeled icon submit button">
			<i class="save outline icon"></i> Kompilieren
		</div>
		<div id="submit" class="ui huge teal labeled icon submit button">
			<i class="save outline icon"></i> Qualifizieren
		</div>
		<div id="submit" class="ui huge red labeled icon submit button">
			<i class="save outline icon"></i> Zurücksetzen
		</div>
	</div>
	<div id="editor">{{ ai.code() }}</div>
	<script>
	window.onload = function() {
		var editor = ace.edit("editor");
		editor.setTheme("ace/theme/monokai");
		editor.getSession().setMode("ace/mode/{{ai.lang.ace_name}}");
		console.log("editorized, mode: ace/mode/{{ai.lang.ace_name}}")
	}
	</script>
</div>
{% endblock %}