{% if not mini %}{% extends "base.html" %}{% else %}{% extends "minimal_base.html" %}{% endif %}
{% block body %}

{% if inprogress %}
<div id="finished_message" class="ui message" style="display: none;">
	Dieses Spiel ist jetzt fertig.
	Du kannst es <a href="#">hier</a> permanent und detailreicher sehen.
</div>
<div id="qualified_message" class="ui positive message" style="display: none;">
	Deine KI hat sich Qualifiziert!
	<a href="{{url_for('authenticated.edit_ai', id=ai0.id)}}">Hier</a> gehts zu deiner KI.
</div>
<div id="failed_message" class="ui negative message" style="display: none;">
	Deine KI ist bei der Qualifikation gescheitert.
	<a href="{{url_for('authenticated.edit_ai', id=ai0.id)}}">Hier</a> gehts zu deiner KI.
</div>
{% endif %}

{% block viz %}
{% endblock %}

{% endblock %}
