{% extends "base.html" %}
{% set active_page = "game_list" %}

{% macro render_inprogress_game(game) %}
<tr id="inprogress_{{game.id}}">
	<td class="left aligned">
		<a class="ui label" href="{{url_for("anonymous.ai", id=game.ai0.id)}}">
			<img class="ui right spaced image" src="/api/ai/{{ game.ai0.id }}/icon">
			{{ game.ai0.name }}
		</a>
	</td>
	<td class="left aligned">
		1337
	</td>
	<td class="center aligned">
		<a class="content" href="{{url_for("anonymous.inprogress_game", id=game.id)}}">
			<div class="header" id="progress">{% if game.inqueue %}In Warteschlange{% else %}{{ game.status }}{% endif %}</div>
		</a>
	</td>
	<td class="right aligned">
		1337
	</td>
	<td class="right aligned">
		<a class="ui label" href="{{url_for("anonymous.ai", id=game.ai1.id)}}">
			{{ game.ai1.name }}
			<img class="ui left spaced image" src="/api/ai/{{ game.ai1.id }}/icon">
		</a>
	</td>
</tr>
{% endmacro %}

{% block body %}

<table class="ui very basic table">
	<thead>
		<tr>
		<th class="left aligned three wide">KI</th>
		<th class="left aligned two wide">Punkte</th>
		<th class="center aligned six wide">Link</th>
		<th class="right aligned two wide">Punkte</th>
		<th class="right aligned three wide">KI</th>
		</tr>
	</thead>
	<tbody id="games_tbody">
		{% for game in in_progress_games %}
		{{render_inprogress_game(game)}}
		{% endfor %}
		{% for game in game_list %}
		<tr>
			<td class="left aligned">
				<a class="ui label" href="{{url_for("anonymous.ai", id=game.ai_assocs[0].ai.id)}}">
					<img class="ui right spaced image" src="/api/ai/{{ game.ai_assocs[0].ai.id }}/icon">
					{{ game.ai_assocs[0].ai.name }}
				</a>
			</td>
			<td class="left aligned">
				1337
			</td>
			<td class="center aligned">
				<a class="content" href="{{url_for("anonymous.game", id=game.id)}}">
					<div class="header">{{ game }}</div>
				</a>
			</td>
			<td class="right aligned">
				1337
			</td>
			<td class="right aligned">
				<a class="ui label" href="{{url_for("anonymous.ai", id=game.ai_assocs[1].ai.id)}}">
					{{ game.ai_assocs[1].ai.name }}
					<img class="ui left spaced image" src="/api/ai/{{ game.ai_assocs[1].ai.id }}/icon">
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<script>
var evtSrc = new EventSource("/api/game_list_sse");

evtSrc.onerror = function () {
	console.log("SSE Err");
	evtSrc.close();
};

evtSrc.addEventListener("update", function(e) {
	console.log(e.data);
	d = JSON.parse(e.data);
	console.log(d);
	$("#inprogress_"+d.id).find("#progress").text(d.status);
});

evtSrc.addEventListener("new_game", function(e) {
	$("#games_tbody").prepend(e.data);
	$("#games_tbody > tr").first().transition("pulse");
});


evtSrc.addEventListener("stream_stopped", function (e) {
	console.log(e);
	console.log("stream_stopped");
	evtSrc.close();
});
</script>

{% endblock %}