{% extends "base.html" %}
{% set active_page = "game_list" %}


{% macro render_inprogress_game(game) %}
<tr id="inprogress_{{game.id}}">
	<td class="left aligned">
		<a class="ui label yellow" href="{{url_for("anonymous.ai", id=game.ai0.id)}}" id="ai0">
			<img class="ui right spaced image" src="/api/ai/{{ game.ai0.id }}/icon">
			{{ game.ai0.name }}
		</a>
	</td>
	<td class="left aligned"><p class="yellow" id="points0">0</p></td>
	<td class="center aligned">
		<a id="link" class="ui button content" href="{{url_for("anonymous.inprogress_game", id=game.id)}}">
			<div class="header" id="progress">{% if game.inqueue %}In Warteschlange{% else %}{{ game.status }}{% endif %}</div>
		</a>
	</td>
	<td class="right aligned"><p class="yellow" id="points1">0</p></td>
	<td class="right aligned">
		<a class="ui label yellow" href="{{url_for("anonymous.ai", id=game.ai1.id)}}"  id="ai1">
			{{ game.ai1.name }}
			<img class="ui left spaced image" src="/api/ai/{{ game.ai1.id }}/icon">
		</a>
	</td>
</tr>
{% endmacro %}
{% block head %}
<style>
p.green {
	color: #21BA45 !important;
}
p.red {
	color: #DB2828 !important;
}
p.yellow {
	color: "yellow" !important;
}
</style>
{% endblock %}
{% block body %}

{% if gametype %}
<h4>'{{gametype.name}}' Spiele</h4>
<div class="ui divider"></div>
{% endif %}

<table class="ui very basic table">
	<thead>
		<tr>
		<th class="left aligned three wide">KI</th>
		<th class="left aligned two wide">Punkte</th>
		<th class="center aligned six wide">Link</th>
		<th class="right aligned two wide">Punkte</th>
		<th class="right aligned three wide">KI</th>
		</tr>
	</thead>
	<tbody id="games_tbody">
		{% for game in in_progress_games %}
		{{render_inprogress_game(game)}}
		{% endfor %}
		{% for game in game_list %}
		<tr>
			<td class="left aligned">
				<a class="{% if game.ai_assocs[0].score > game.ai_assocs[1].score %}green{% else %}red{% endif %} ui label" href="{{url_for("anonymous.ai", id=game.ai_assocs[0].ai.id)}}">
					<img class="ui right spaced image" src="/api/ai/{{ game.ai_assocs[0].ai.id }}/icon">
					{{ game.ai_assocs[0].ai.name }}
				</a>
			</td>
			<td class="left aligned">
				<p class="{% if game.ai_assocs[0].score > game.ai_assocs[1].score %}green{% else %}red{% endif %}">{{ game.ai_assocs[0].score }}</p>
			</td>
			<td class="center aligned">
				<a class="ui button content" href="{{url_for("anonymous.game", id=game.id)}}">
					<div class="header">Anschauen</div>
				</a>
			</td>
			<td class="right aligned">
				<p class="{% if game.ai_assocs[0].score < game.ai_assocs[1].score %}green{% else %}red{% endif %}">{{ game.ai_assocs[1].score }}</p>
			</td>
			<td class="right aligned">
				<a class="{% if game.ai_assocs[0].score < game.ai_assocs[1].score %}green{% else %}red{% endif %} ui label" href="{{url_for("anonymous.ai", id=game.ai_assocs[1].ai.id)}}">
					{{ game.ai_assocs[1].ai.name }}
					<img class="ui left spaced image" src="/api/ai/{{ game.ai_assocs[1].ai.id }}/icon">
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<script>
var evtSrc = new EventSource("/api/game_list_sse");

evtSrc.onerror = function () {
	console.log("SSE Err");
	evtSrc.close();
};


function set_scores(scores, id) {
	var ai0 = $("#inprogress_"+id).find("#ai0");
	var ai1 = $("#inprogress_"+id).find("#ai1");

	var points0 = $("#inprogress_"+id).find("#points0");
	var points1 = $("#inprogress_"+id).find("#points1");

	if(scores[0] > scores[1]) {
		ai0.attr("class", "ui label green");
		points0.attr("class", "green");
		ai1.attr("class", "ui label red");
		points1.attr("class", "red");
	}
	else if(scores[0] < scores[1]) {
		ai1.attr("class", "ui label green");
		points1.attr("class", "green");
		ai0.attr("class", "ui label red");
		points0.attr("class", "red");
	}
	else {
		ai0.attr("class", "ui label yellow");
		ai1.attr("class", "ui label yellow");
		points0.attr("class", "yellow")
		points1.attr("class", "yellow")
	}

	points0.text(scores[0]);
	points1.text(scores[1]);
};

evtSrc.addEventListener("new_game", function(e) {
	$("#games_tbody").prepend(e.data);
	$("#games_tbody > tr").first().transition("pulse");
});



evtSrc.addEventListener("update", function(e) {
	console.log(e.data);
	var d = JSON.parse(e.data);
	console.log(d);
	$("#inprogress_"+d.id).find("#progress").text(d.status);

	set_scores(d.points, d.id);

});

evtSrc.addEventListener("finished_game", function(e) {
	var d = JSON.parse(e.data);
	console.log(d);
	$("#inprogress_"+d.id).find("#progress").text("Anschauen");
	$("#inprogress_"+d.id).find("#link").attr("href", d.url);
	$("#inprogress_"+d.id).transition("pulse");
	set_scores(d.scores, d.id);
});

evtSrc.addEventListener("stream_stopped", function (e) {
	console.log(e);
	console.log("stream_stopped");
	evtSrc.close();
});
</script>

{% endblock %}
