{% extends "base.html" %}
{% block body %}

{% if logged_in %}
<h2>Aktuelle Infos:</h2>
<pre>infos.txt</pre>
{% else %}
<h2>Einloggen oder Account erstellen um Features zu benutzen</h2>

<form id="caform" class="ui form segment">
	<div class="required field">
		<label>Nutzername</label>
		<input id="username" placeholder="penis_cola69" type="text" name="username">
	</div>
	<div class="two fields">
		<div class="field">
			<label>Vorname</label>
			<input id="firstname" placeholder="Max" type="text">
		</div>
		<div class="field">
			<label>Nachname</label>
			<input id="lastname" placeholder="Mustermann" type="text">
		</div>
	</div>
	<div class="required field">
		<label>Email-Adresse</label>
		<input id="email" placeholder="max@mustermann.de" type="email" name="email">
	</div>
	<div class="required field">
		<label>Password</label>
		<input id="password" name="password" type="password">
	</div>
	<div class="inline required field">
		<div class="ui checkbox">
			<input id="accept" name="terms" type="checkbox" tabindex="0">
			{% if env.DEBUG %}
			<label>Ich verstehe, dass das hier ein Test-Server ist.</label>
			{% else %}
			<label>Ich akzeptiere die (nicht existierenden) TOS.</label>
			{% endif %}
		</div>
	</div>
	<div id="create-account" class="ui button">Account erstellen</div>
	<div class="ui error message"></div>
</form>

<script>

$(".ui.checkbox").checkbox()
function send () {
	console.log("Creating User...")
	$('#form').addClass('loading')

	var d = {
		username:  $("#caform #username").val(),
		firstname: $("#caform #firstname").val(),
		lastname:  $("#caform #lastname").val(),
		password:  $("#caform #password").val(),
		email:     $("#caform #email").val()
	}
	console.log(d)

	$("#create-account-form").addClass("loading")
	$.post("/api/user/create", d).done(function(data) {
		console.log("User created")
		location.reload();
	}).fail(function(xhr, textStatus, errorThrown) {
		console.log(xhr.responseText.error)
		alert(JSON.parse(xhr.responseText).error)
		$("#create-account-form").removeClass("loading")
	})
}

$('#caform').form({
	onSuccess: send,
	fields: {
		username: {
			identifier : 'username',
			rules: [
				{
					type   : 'empty',
					prompt : 'Du brauchst einen Nutzernamen!'
				}
			]
		},
		email: {
			identifier : 'email',
			rules: [
				{
					type   : 'empty',
					prompt : 'Du brauchst eine E-Mail Adresse!'
				}
			]
		},
		password: {
			identifier : 'password',
			rules: [
				{
					type   : 'empty',
					prompt : 'Du brauchst ein Passwort'
				},
				{
					type   : 'length[3]',
					prompt : 'Dein Passwort sollte länger als 3 Zeichen sein'
				}
			]
		},
		terms: {
			identifier : 'terms',
			rules: [
				{
					type   : 'checked',
					prompt : 'Du musst die TOS akzeptieren'
				}
			]
		}
	}
});

$("#create-account").on("click", function () {
	$("#caform").form("validate form")
})
</script>

{% endif %}


{% endblock %}