{% macro render_ai(ai, current_user) %}
<div class="ui link items">
	<div class="item" href="{{ url_for("anonymous.ai", id=ai.id) }}">
		<a class="ui tiny image" href="{{ url_for("anonymous.user", id=ai.user.id) }}">
			<img src="/api/ai/{{ ai.id }}/icon">
		</a>
		<div class="content">
			<a class="header" href="{{ url_for("anonymous.ai", id=ai.id) }}">{{ ai.name }}</a>
			<div class="description">
				<p>{{ ai.desc }}</p>
			</div>
			<div class"extra">
				von <a href="{{ url_for("anonymous.user", id=ai.user.id) }}">{{ ai.user.name }}</a>
				{% if current_user.is_authenticated and current_user.can_access(ai) %}
				<a class="ui right floated button" href="{{ url_for("authenticated.edit_ai", id=ai.id)}}">
					Bearbeiten
				</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endmacro %}

{% macro render_settings(gametypes, current_gametype) %}
<script src="//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.0-beta.1/js.cookie.min.js"></script>
<div class="ui right inverted menu">
	<div class="ui dropdown item" id="gametype">
		<i class="settings icon"></i>
		<div class="menu transition hidden">
			<div class="item">
				<i class="left dropdown icon"></i>
				<span class="text">Spieltyp</span>
				<div class="ui left vertical menu">
					{% for gametype in gametypes %}
						<div data-value="{{gametype.name}}" class="gt_select {% if gametype == current_gametype %}active {% endif %} item">{{gametype.name}}</div>
					{% endfor %}
				</div>
			</div>
			{% if logged_in %}
			<a class="item" href="/profile">Profileinstellungen</a>
			<div id="logout" class="item">Ausloggen</div>
			{% endif %}
			<div class="item" id="delete_all">Einstellungen zurücksetzen</div>
		</div>
	</div>
</div>
<script>
$("#gametype").dropdown({
	onChange: function(text, value, elem) {
		console.log(text, value, elem)
		if ($(elem).hasClass("gt_select")) {
			console.log("setting gt to " + text);
			Cookies.set("gametype", text);
			location.reload();
		}
	}
});

$("#delete_all").on("click", function() {
	Cookies.remove("gametype");
	location.reload()
});

$("#logout").on("click", function() {
	$.post("/api/logout").done(function() { window.location.href = "/"; });
});
</script>
{% endmacro %}
