Hallo, {% if user.firstname %}{{user.firstname}}{% else %}{{user.name}}{% endif %}
{% if html %}<br />{% endif %}
um dein Passwort zurückzusetzen musst du diesen Link aufrufen, um bestätigen, dass du diese Anfrage geschickt hast.
{% if html %}
<br />
<a href="http://{{env.SERVER_URL}}/api/user/password_reset/{{user.id}}/{{user.pw_reset_token}}">Passwort zurückzusetzen</a>
{% else %}
http://{{env.SERVER_URL}}/api/user/password_reset/{{user.id}}/{{user.pw_reset_token}}   <- Passwort zurückzusetzen
{% endif %}