<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<title>{% block title %}Turnierserver{% endblock %}</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.3/semantic.min.css">
	<script src="//oss.maxcdn.com/semantic-ui/2.1.3/semantic.min.js"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	{% block head %}
	{% endblock %}
</head>
<body>
	{% block body %}
	{% endblock %}
</body>
</html>
