{% extends "base.html" %}
{% from "macros.html" import render_ai %}
{% set active_page = "profile" %}
{% block body %}
<div class="ui hidden divider"></div>
<div class="column">
	<h2 class="ui header">Deine '{{gametype.name}}' KIs</h2>
	<div class="ui three column divided grid">
		{% if columns %}
		{% for column in columns %}
		<div class="row">
			{% for ai in column %}
			<div class="column">
				{{ render_ai(ai, user) }}
			</div>
			{% endfor %}
		</div>
		{% endfor %}
		{% else %}
		<div class="row">
			<div class="column">
				<p>Du hast momentan keine KIs</p>
			</div>
		</div>
		{% endif %}
		<div class="row">
			<div class="column">
				<a id="create_ai_button" class="ui tiny button" href="{{ url_for("authenticated.create_ai" )}}">KI erstellen</a>
			</div>
		</div>
	</div>
</div>
<div class="ui divider"></div>
<h2 class="ui header">Einstellungen</h2>
<form id="profile_form" class="ui form segment">
	<div class="two fields">
		<div class="field">
			<label>Vorname</label>
			<input id="firstname" placeholder="{% if user.firstname %}{{user.firstname}}{% endif %}" type="text">
		</div>
		<div class="field">
			<label>Nachname</label>
			<input id="lastname" placeholder="{% if user.firstname %}{{user.lastname}}{% endif %}" type="text">
		</div>
	</div>
	<div class="ui segment" style="margin-top: 0px;">
		<div class="field">
			<div class="ui toggle checkbox">
				<input type="checkbox" id="name_public" name="name_public" tabindex="0" class="hidden" {% if user.name_public %}checked=""{% endif %}>
				<label>Zeige Namen im Profil</label>
			</div>
		</div>
	</div>
	<div class="field">
		<label>Email-Adresse</label>
		<input id="email" placeholder="{{user.email}}" type="email" name="email">
	</div>
	<div class="field">
		<label>Password</label>
		<input id="password" name="password" type="password">
	</div>
	<div id="confirm_pw" class="transition hidden field">
		<label>Password bestätigen</label>
		<input id="confirm_pw_input" name="password" type="password">
	</div>
	<div id="change_account" class="ui button">Änderung speichern (leere Felder bleiben gleich)</div>
	<div id="delete_account" class="ui red button">Account löschen</div>
	<div class="ui error message"></div>
</form>


<div id="delete_modal" class="ui basic modal">
	<i class="close icon"></i>
	<div class="ui icon header">
		<i class="trash outline icon"></i>
		Account löschen
	</div>
	<div class="content">
		<div class="description" style="text-align: center">
			<p>Das löschen deines Accounts kann nicht rückgängig gemacht werden! Willst du deinen Account ({{user.name}}) wirklich löschen?</p>
		</div>
	</div>
	<div class="actions">
		<div class="two fluid ui inverted buttons">
			<div class="ui red basic inverted cancel button">
				<i class="remove icon"></i>
				Nein
			</div>
			<div class="ui green basic inverted ok button">
				<i class="checkmark icon"></i>
				Ja
			</div>
		</div>
	</div>
</div>


<script>
$(".ui.checkbox").checkbox()

$("#password").on("input", function() {
	var hidden = $("#confirm_pw").hasClass("hidden");
	if ($("#password").val() !== "") {
		if (hidden)
			$("#confirm_pw").transition("scale");
	} else {
		if (!hidden)
			$("#confirm_pw").transition("scale");
		$("#confirm_pw_input").val("");
	}
});

$("#change_account").on("click", function() {
	var d = {};

	if ($("#firstname").val() !== "")
		d.firstname = $("#firstname").val();

	if ($("#lastname").val() !== "")
		d.lastname = $("#lastname").val();

	if ($("#email").val() !== "")
		d.email = $("#email").val();

	if ($("#password").val() !== "") {
		if ($("#password").val() != $("#confirm_pw_input").val()) {
			alert("Die eingetippten Passwörter sind nicht gleich!");
			$("#confirm_pw").transition("pulse");
			return;
		}
		d.password = $("#password").val();
	}

	if ($("#name_public").is(":checked")) {
		d.name_public = "true";
	} else {
		d.name_public = "false";
	}

	$("#profile_form").addClass("loading");
	$.post("/api/user/{{user.id}}/update", d).done(function(data) {
		console.log("User changed.");
		location.reload();
	}).fail(function(xhr, textStatus, errorThrown) {
		console.log(xhr.responseText.error);
		alert(JSON.parse(xhr.responseText).error);
		$("#profile_form").removeClass("loading");
	});
});


$("#delete_account").on("click", function() {
	$('#delete_modal').modal({
		onApprove: function() {
			$.post("/api/user/{{user.id}}/delete").done(function(data) {
				console.log("User deleted.");
				location.href = "/";
			}).fail(function(xhr, textStatus, errorThrown) {
				console.log(xhr.responseText.error);
				alert(JSON.parse(xhr.responseText).error);
			});
		}
	}).modal('show');
});

$("#create_ai_button").on("click", function() {
	$("#create_ai_button").addClass("loading");
});

</script>

{% endblock %}
