{% extends "base.html" %}
{% set active_page = "settings" %}
{% block body %}

<script src="//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.0-beta.1/js.cookie.min.js"></script>

<div class="ui segment">
	<h2>Einstellungen</h2>

	<div class="ui container">
		<label>Spieltyp:</label>
		<select id="gametype" class="ui dropdown">
			<option value="">Aktuellster</option>
			{% for gametype in gametypes %}
			<option value="{{gametype.name}}">{{gametype.name}}</option>
			{% endfor %}
		</select>
	</div>
</div>

<script type="text/javascript">

$(".ui.dropdown").dropdown();

{% if current_gametype %}
$("#gametype").dropdown("set selected", "{{current_gametype.name}}");
{% endif %}

$("#gametype").change(function () {
	console.log($("#gametype").val());
	Cookies.set("gametype", $("#gametype").val());
});

$("#delete_all").on("click", function() {
	Cookies.remove("gametype");
});

</script>

{% endblock %}