{% extends "game.html" %}

{% block viz %}
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css">
<link href="//code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" rel="stylesheet">
<style type="text/css">
.chart {
	width: 100%;
	display: block;
	position: relative;
	{% if logged_in and (current_user.can_access(ai0) or current_user.can_access(ai1)) %}
	height: 27vh;
	{% else %}
	height: 37vh;
	{% endif %}
	font: 11px sans-serif;
}
.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 2px;
}

.hover-line {
	stroke: #6E7B8B;
}

.hover-line .hide {
	opacity: 0;
}

</style>

{% macro render_output(ai, side, desc) -%}
	{% if logged_in -%}
	{% if current_user.can_access(ai) -%}
	<div class="column">
		<div class="ui segment">
			Debugausgaben von "{{ai.name}}":
			<textarea id="ai_{{ai.id}}_output" style="width: 100%; height: auto; min-height: 20em;"></textarea>
		</div>
	</div>
	{%- endif %}
	{%- endif %}
{%- endmacro %}

<div class="ui segment">
	<div class="ui pointing secondary menu">
		<div class="active item" data-tab="spielspezifisch">Spielspezifisch</div>
		<div class="item" data-tab="spielinfos">Spielinfos</div>
		<div class="item" data-tab="rechenpunkte">Rechenpunkte</div>
	</div>
	<div class="ui bottom attached active tab segment" data-tab="spielspezifisch">
		<center>
			<div class="divider">Unterschied</div>
			<div class="chart" id="unterschied"></div>
			<div class="divider">Insgesammt</div>
			<div class="chart" id="absolut"></div>
		</center>
	</div>
	<div class="ui bottom attached tab segment" data-tab="spielinfos">
		<table class="ui table">
			<tbody>
				<tr>
					<td>repr(game)</td>
					<td>{{game}}</td>
				</tr>
				<tr>
					<td>Spieltyp</td>
					<td>{{game.type.name}}</td>
				</tr>
				<tr>
					<td>Spiel-ID</td>
					<td>{{game.id}}</td>
				</tr>
				<tr>
					<td>Spielzüge</td>
					<td>{{game.moves}}</td>
				</tr>
				{% for assoc in game.ai_assocs %}
				<tr>
					<td>Ki{{loop.index}} - {{assoc.score}} Punkte</td>
					<td>{{assoc.ai.name}}</td>
				</tr>
				{% endfor %}
				{% if game.reason %}
				<tr>
					<td>Beendigungsgrund</td>
					<td>{{game.reason}}</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
	<div class="ui bottom attached tab segment" data-tab="rechenpunkte">
		<div class="chart" id="rechenpunkte"></div>
	</div>

	<div id="step_slider"></div>

	{% if logged_in and (current_user.can_access(ai0) or current_user.can_access(ai1)) %}
	<div class="ui two column grid">
		{{render_output(ai0, "left", "left")}}
		{{render_output(ai1, "right", "right")}}
	</div>
	{% endif %}
</div>

<script>
	$(".ui.popup").popup();
	$('.ui.menu .item').tab({history: true});
</script>

<script id="game_script" type="text/javascript" src="{{url_for('static', filename='groker.js')}}" stream="{{stream}}"></script>

{% endblock %}
