{% extends "game.html" %}

{% block viz %}
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<link href="//code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" rel="stylesheet">
<style type="text/css">
canvas {
	width: 100%;
	background: green;
}
</style>

<script>

	function onresize () {
		$("canvas").each(function() {
			$(this).height($(this).width());
		});
	}


	$(document).ready(onresize);

	$(window).on("resize", function() {
		onresize();
	});
</script>

{% macro render_output(ai, side, desc) -%}
	{% if logged_in %}
	{% if current_user.can_access(ai) -%}
	<div class="ui segment">
		Debugausgaben von "{{ai.name}}":
		<textarea id="ai_{{desc}}_output" style="width: 100%; height: auto; min-height: 20em;"></textarea>
	</div>
	{%- endif %}
	{% endif %}
{%- endmacro %}

{% macro render_part(ai, side, desc) -%}
	<!--
	<div class="ui right floated main menu">
		<a id="play_button" class="play popup icon item" data-content="Spiel abspielen">
			<i class="play icon"></i>
		</a>
		<a id="pause_button" class="pause popup icon item" data-content="Pausieren">
			<i class="pause icon"></i>
		</a>
	</div> -->
	<center>
		{% if qualify %}
		<canvas id="canvas_{{desc}}" aiID="{{ai.id}}v{{ai.latest_version().version_id}}">
		{% else %}
		<canvas id="canvas_{{desc}}" aiID="{{ai.id}}v{{ai.latest_qualified_version().version_id}}">
		{% endif %}
			<h1>Du musst Javascript aktiviert haben, um Spiele zu sehen.</h1>
		</canvas>
	</center>
	<!-- <input id="step_slider_{{desc}}" class="ui input" type="range" min="0" max="0" value="0" step="1" style="width: 100%" /> -->
	<div id="step_slider_{{desc}}"></div>
	{{render_output(ai, side, desc)}}
{%- endmacro %}


{% macro render_progress(ai, side, desc) -%}
	<div id="download_progress_{{desc}}" class="ui bottom attached progress" data-percent="0">
		<div class="bar" style="transition-duration: 300ms; width: 0%;"></div>
	</div>
{%- endmacro %}


<div class="ui segment">
	<div class="ui two column grid">
		<div class="column">
			<div class="ui horizontal segment">
				{{render_part(ai0, "left", "left")}}
			</div>
			{{render_progress(ai0, "left", "left")}}
		</div>
		<div class="column">
			<div class="ui horizontal segment">
				{{render_part(ai1, "right", "right")}}
			</div>
			{{render_progress(ai1, "right", "right")}}
		</div>
	</div>
</div>

<script>
	$(".ui.popup").popup();
</script>

<script id="game_script" type="text/javascript" src="{{url_for('static', filename='minesweeper.js')}}" stream="{{stream}}"></script>

{% endblock %}
