{% extends "game.html" %}

{% block viz %}

{% macro render_rail(ai, side, desc) -%}
	{% if logged_in %}
	{% if current_user.can_access(ai) -%}
		<div class="ui {{side}} close rail">
			<div class="ui segment">
				Debugausgaben von "{{ai.name}}":
				<textarea id="ai_{{desc}}_output" style="width: 100%; height: auto; min-height: 25em;"></textarea>
			</div>
		</div>
	{%- endif %}
	{% endif %}
{%- endmacro %}


<div class="ui segment">
	<div class="ui right floated main menu">
		<a id="play_button" class="play popup icon item" data-content="Spiel abspielen">
			<i class="play icon"></i>
		</a>
		<a id="pause_button" class="pause popup icon item" data-content="Pausieren">
			<i class="pause icon"></i>
		</a>
	</div>
	{% if not qualify %}
	{{render_rail(ai0, "left", "left")}}
	{% else %}
	{{render_rail(ai, "left", "left")}}
	{% endif %}
	<canvas id="canvas" style="width: 100%; height: 800px;">
		<h1>Du musst Javascript aktiviert haben, um Spiele zu sehen.</h1>
	</canvas>
	<input id="step_slider" class="ui input" type="range" min="0" max="0" value="0" step="1" style="width: 100%" />
	<div id="download_progress" class="ui bottom attached progress" data-percent="0">
		<div class="bar" style="transition-duration: 300ms; width: 0%;"></div>
	</div>
	{% if not qualify %}
	{{render_rail(ai0, "right", "right")}}
	{% endif %}
</div>

<script>
	$(".ui.popup").popup()
</script>

<script type="text/javascript" src="{{url_for('static', filename='minesweeper.js')}}"></script>

{% endblock %}
