{% extends "game.html" %}

{% block viz %}
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css">
<link href="//code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" rel="stylesheet">
<script src="{{url_for('static', filename='line-chart.js')}}"></script>
<style type="text/css">
.chart {
	width: 100%;
	display: block;
	position: relative;
	font: 11px sans-serif;
	margin-bottom: 5em;
	{% if logged_in and (current_user.can_access(ai0) or current_user.can_access(ai1)) %}
	height: 27vh;
	{% else %}
	height: 37vh;
	{% endif %}
}

.chart > svg {
	overflow: visible;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.line {
	fill: none;
	/*stroke: steelblue;*/
	stroke-width: 2px;
}

.legend {
	font-size: 1.3em;
}

.line1 { stroke: steelblue; }
.legend1 { fill: steelblue; }
.line2 { stroke: rgb(180, 130, 70); }
.legend2 { fill: rgb(180, 130, 70); }

.hover-line {
	stroke: #6E7B8B;
}

.crash {
	border: 1px solid red;
	background: #FF9999;
}

.textoutput {
	font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
	width: 100%;
	height: auto;
	min-height: 20em;
}

canvas {
	width: 100%;
	height: 70vh;
	background: green;
}

</style>

{% macro render_output(ai, side, desc) -%}
	{% if logged_in -%}
	{% if current_user.can_access(ai) -%}
	<div class="column">
		<div class="ui basic segment">
			Debugausgaben von "{{ai.name}}":
			<textarea readonly id="ai_{{ai.id}}_output_error" class="textoutput crash" style="display: none;"></textarea>
			<textarea readonly id="ai_{{ai.id}}_output" class="textoutput"></textarea>
		</div>
	</div>
	{%- endif %}
	{%- endif %}
{%- endmacro %}

<div {% if mini %}style="padding: 1rem;"{% else %}class="ui segment"{% endif %}>
	<div class="ui pointing secondary menu">
		<div class="active item" data-tab="spielfeld" id="spielfeld">Spielfeld</div>
		<div class="item" data-tab="spielspezifisch" id="spielspezifisch">Spielspezifisch</div>
		{% if not qualify and not inprogress %}
		<div class="item" data-tab="spielinfos">Spielinfos</div>
		{% endif %}
		<div class="item" data-tab="rechenpunkte" id="rechenpunkte">Rechenpunkte</div>
	</div>
	<div class="ui bottom attached active tab segment" data-tab="spielfeld">
		<center>
			<canvas id="game_canvas">
		</center>
	</div>
	<div class="ui bottom attached tab segment" data-tab="spielspezifisch">
		<center>
			<div class="divider">Punktedifferenz</div>
			<div class="chart" id="diff_chart"></div>
			<div class="divider">Punkte</div>
			<div class="chart" id="score_chart"></div>
		</center>
	</div>
	{% if not qualify and not inprogress %}
	<div class="ui bottom attached tab segment" data-tab="spielinfos">
		<table class="ui table">
			<tbody>
				<tr>
					<td>Spieltyp</td>
					<td>{{game.type.name}}</td>
				</tr>
				<tr>
					<td>Spiel-ID</td>
					<td>{{game.id}}</td>
				</tr>
				<tr>
					<td>Spielzüge (ohne Startzustand)</td>
					<td>{{game.moves - 1}}</td>
				</tr>
				<tr>
					<td>Wann</td>
					<td>{{game.time('de')}}</td>
				</tr>
				{#{% for assoc in game.ai_assocs %}
				<tr>
					<td>Ki{{loop.index}} - {{assoc.score}} Punkte</td>
					<td><a href="{{url_for('anonymous.ai', id=assoc.ai.id)}}">{{assoc.ai.name}}</a></td>
				</tr>
				{% endfor %}#}
				<tr>
					<td>Herausforderer - {{game.ai_assocs[0].score}} Punkte</td>
					<td><a href="{{url_for('anonymous.ai', id=game.ai_assocs[0].ai.id)}}">{{game.ai_assocs[0].ai.name}}</a></td>
				</tr>
				<tr>
					<td>Gegner - {{game.ai_assocs[1].score}} Punkte</td>
					<td><a href="{{url_for('anonymous.ai', id=game.ai_assocs[1].ai.id)}}">{{game.ai_assocs[1].ai.name}}</a></td>
				</tr>
				{% if game.reason %}
				<tr>
					<td>Beendigungsgrund</td>
					<td>{{game.reason_repr()}}</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
	{% endif %}
	<div class="ui bottom attached tab segment" data-tab="rechenpunkte">
		<center>
			<div class="divider">Insgesamt</div>
			<div class="chart" id="tabs_chart"></div>
			<div class="divider">Pro Schritt</div>
			<div class="chart" id="td_chart"></div>
		</center>
	</div>

	<div id="step_slider"></div>

	{% if logged_in and (current_user.can_access(ai0) or current_user.can_access(ai1)) %}
	{% if current_user.can_access(ai0) and current_user.can_access(ai1) %}
	<div class="ui two column grid" style="padding-top: 1em;">
	{% else %}
	<div class="ui one column grid" style="padding-top: 1em;">
	{% endif %}
		{{render_output(ai0, "left", "left")}}
		{{render_output(ai1, "right", "right")}}
	</div>
	{% endif %}
</div>

<script>
	$(".ui.popup").popup();
	$('.ui.menu .item').tab({history: true});
</script>

<script>
	var ais = {
		"{{ai0.id}}": {{ai0.name | escapejs | safe}},
		"{{ai1.id}}": {{ai1.name | escapejs | safe}}
	};
	var ai_list = ["{{ai0.id}}", "{{ai1.id}}"]
	var coin_image = new Image()
	coin_image.src = "{{url_for('static', filename='coin.png')}}"
	var ai_imgs = [new Image(), new Image()]
	ai_imgs[0].src = "{{ url_for('api.ai_icon', id=ai0.id) }}"
	ai_imgs[1].src = "{{ url_for('api.ai_icon', id=ai1.id) }}"
</script>
<script id="game_script" type="text/javascript" src="{{url_for('static', filename='tourality.js')}}" stream="{{stream}}"></script>

{% endblock %}
